@import "~/stylus/settings/color.styl"

.songBlock
    display flex
    cursor pointer

    img
        border-radius 3px
        width 20%
        object-fit contain
        margin 3px

.title
    font-weight 700

.details
    padding-left 10px
    display flex
    flex-direction column
    justify-content space-around

.bottom
    color var(--initial-text-color)

    a
        clear both
        float left
