@import "~/stylus/settings/color.styl"

.songBlock
    display flex
    cursor pointer

    img
        width 20%
        object-fit contain

    &.playing
        color currentlyPlayingColor

.title
    font-weight 700

.details
    padding-left 10px
    display flex
    flex-direction column
    justify-content space-around

.bottom
    color colorGray400

    a
        clear both
        float left
        color inherit