@import "~/stylus/settings/color.styl"

.inputModal
    padding 15px

    form
        display flex
        flex-direction column

        input
            padding 10px
            background-color #2c2c2c
            color white
            margin 5px 0
            border none

        input[type=text]
            border 2px solid #6c6c6c
            font-size 18px
            border-radius 2px