.searchPage
  .resultSection
    min-height 350px
    h1
      font-size 24px //TODO: Standardize font-sizes
    .resultList
      display flex
      flex-wrap wrap
      .song
        padding 10px
      .album, .artist
        width 10%
        margin 10px
        min-width 140px