.searchPage
  .songs
    h1
      font-size 24px //TODO: Standardize font-sizes
    .songsList
      display flex
      flex-wrap wrap
      .songBlock
        padding 10px

  .albums
    h1
      font-size 24px //TODO: Refactor style to be less redundant
    .albumsList
      display flex
      flex-wrap wrap
      .album
        width 10%
        margin 10px
