<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    RewriteRule ^(3|4|5|6)/json/([^/]+)/([^/]+)/?$ /server/json.server.php?version=$1&action=$2&filter=$3 [L,QSA]
    RewriteRule ^(3|4|5|6)/json/([^/]+)/?$ /server/json.server.php?version=$1&action=$2 [L,QSA]
    RewriteRule ^(3|4|5|6)/xml/([^/]+)/([^/]+)/?$ /server/xml.server.php?version=$1&action=$2&filter=$3 [L,QSA]
    RewriteRule ^(3|4|5|6)/xml/([^/]+)/?$ /server/xml.server.php?version=$1&action=$2 [L,QSA]
    # some subsonic clients don't use *.view
    RewriteRule ^([^/]+)/?$ index.php?ssaction=$1 [L,QSA]
    # subsonic clients using *.view
    RewriteRule ^([^/]+)\.view$ index.php?ssaction=$1 [L,QSA]
    RewriteRule ^fake/(.+)$ /play/$1 [L,QSA]
</IfModule>
