<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    # /{version}/{format}/{type}/(deleted|stats|search)
    RewriteRule ^(3|4|5|6)/(json|xml)/([^/]+)/(deleted|stats|search)/?$ /server/$2.rest.php?version=$1&action=$4&type=$3 [L,QSA]
    # /{version}/{format}/{type}/{filter}/{action}
    RewriteRule ^(3|4|5|6)/(json|xml)/([^/]+)/([^/]+)/([^/]+)/?$ /server/$2.rest.php?version=$1&action=$5&type=$3&filter=$4 [L,QSA]
    # /{version}/{format}/{action}/{filter}
    RewriteRule ^(3|4|5|6)/(json|xml)/([^/]+)/([^/]+)/?$ /server/$2.rest.php?version=$1&action=$3&filter=$4 [L,QSA]
    # /{version}/{format}/{action}
    RewriteRule ^(3|4|5|6)/(json|xml)/([^/]+)/?$ /server/$2.rest.php?version=$1&action=$3 [L,QSA]
    # subsonic clients using *.view
    RewriteRule ^([^/]+)\.view$ index.php?ssaction=$1 [L,QSA]
    # some subsonic clients don't use *.view
    RewriteRule ^([^/]+)/?$ index.php?ssaction=$1 [L,QSA]
    RewriteRule ^fake/(.+)$ /play/$1 [L,QSA]
</IfModule>
