<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-s
    RewriteRule ^(.+)$ /jellyfin/index.php?jf_path=$1 "[PT,L,QSA,B= ?,BNP]"
</IfModule>
