.albumPage
  .album
    color white
    margin-top 20px
    margin-left 10px
    height 200px
    display flex
    .imageContainer
      height inherit
      img
        height inherit
    .details
      padding-left 10px
      color white
      .albumName
        font-size 24px
        margin 10px 0
      .artistName
        color #9b9b9b
        font-size 18px
      a
        clear both
        float left
        color inherit
        &:hover
          color linkHoverColor

  .songs
    margin-top 100px
    margin-right 10px
    ul
      li
        background-color #4d4d4d
        padding 10px
        display flex
        justify-content space-between
        border 1px solid transparent
        &:nth-child(odd)
          background-color #333
        &:hover
          color linkHoverColor
          border 1px solid linkHoverColor
        &.playing
          color currentlyPlayingColor
          border 1px solid navajowhite