.homePage
  .randomAlbums
    display flex
    width 100%
    min-width 400px
    justify-content space-around
    flex-wrap wrap
    .albumDisplay
      margin 30px
      width 10vw
      min-width 150px