.sprite { background: url(../images/icons.sprite.png) no-repeat top left; display: inline-block; }
.sprite-icon_add{ background-position: 0 0; width: 16px; height: 16px; }
.sprite-icon_add12{ background-position: 0 -32px; width: 16px; height: 16px; }
.sprite-icon_add2{ background-position: 0 -64px; width: 16px; height: 16px; }
.sprite-icon_add_key{ background-position: 0 -96px; width: 16px; height: 16px; }
.sprite-icon_add_tag{ background-position: 0 -128px; width: 16px; height: 16px; }
.sprite-icon_add_user{ background-position: 0 -160px; width: 16px; height: 16px; }
.sprite-icon_add_wanted{ background-position: 0 -192px; width: 16px; height: 16px; }
.sprite-icon_admin{ background-position: 0 -224px; width: 16px; height: 16px; }
.sprite-icon_all{ background-position: 0 -256px; width: 16px; height: 16px; }
.sprite-icon_ampache{ background-position: 0 -288px; width: 16px; height: 16px; }
.sprite-icon_batch_download{ background-position: 0 -320px; width: 16px; height: 16px; }
.sprite-icon_broadcast{ background-position: 0 -352px; width: 16px; height: 16px; }
.sprite-icon_cancel{ background-position: 0 -384px; width: 16px; height: 16px; }
.sprite-icon_cog{ background-position: 0 -416px; width: 16px; height: 16px; }
.sprite-icon_comment{ background-position: 0 -448px; width: 16px; height: 16px; }
.sprite-icon_delete{ background-position: 0 -480px; width: 16px; height: 16px; }
.sprite-icon_disable{ background-position: 0 -512px; width: 16px; height: 16px; }
.sprite-icon_download{ background-position: 0 -544px; width: 16px; height: 16px; }
.sprite-icon_drag{ background-position: 0 -576px; width: 16px; height: 16px; }
.sprite-icon_edit{ background-position: 0 -608px; width: 16px; height: 16px; }
.sprite-icon_edit2{ background-position: 0 -640px; width: 16px; height: 16px; }
.sprite-icon_enable{ background-position: 0 -672px; width: 16px; height: 16px; }
.sprite-icon_equalizer{ background-position: 0 -704px; width: 16px; height: 16px; }
.sprite-icon_feed{ background-position: 0 -736px; width: 16px; height: 16px; }
.sprite-icon_flag{ background-position: 0 -768px; width: 16px; height: 16px; }
.sprite-icon_flag_off{ background-position: 0 -800px; width: 16px; height: 16px; }
.sprite-icon_flow{ background-position: 0 -832px; width: 16px; height: 16px; }
.sprite-icon_fullscreen{ background-position: 0 -864px; width: 16px; height: 16px; }
.sprite-icon_google{ background-position: 0 -896px; width: 16px; height: 16px; }
.sprite-icon_home{ background-position: 0 -928px; width: 16px; height: 16px; }
.sprite-icon_image{ background-position: 0 -960px; width: 16px; height: 16px; }
.sprite-icon_info{ background-position: 0 -992px; width: 16px; height: 16px; }
.sprite-icon_lastfm{ background-position: 0 -1024px; width: 16px; height: 16px; }
.sprite-icon_link{ background-position: 0 -1056px; width: 16px; height: 16px; }
.sprite-icon_lock{ background-position: 0 -1088px; width: 16px; height: 16px; }
.sprite-icon_logout{ background-position: 0 -1120px; width: 16px; height: 16px; }
.sprite-icon_microphone{ background-position: 0 -1152px; width: 16px; height: 16px; }
.sprite-icon_money{ background-position: 0 -1184px; width: 16px; height: 16px; }
.sprite-icon_next{ background-position: 0 -1216px; width: 16px; height: 16px; }
.sprite-icon_next_hover{ background-position: 0 -1248px; width: 16px; height: 16px; }
.sprite-icon_pause{ background-position: 0 -1280px; width: 16px; height: 16px; }
.sprite-icon_pause_hover{ background-position: 0 -1312px; width: 16px; height: 16px; }
.sprite-icon_play{ background-position: 0 -1344px; width: 16px; height: 16px; }
.sprite-icon_play_add{ background-position: 0 -1376px; width: 16px; height: 16px; }
.sprite-icon_play_add_preview{ background-position: 0 -1408px; width: 16px; height: 16px; }
.sprite-icon_play_hover{ background-position: 0 -1440px; width: 16px; height: 16px; }
.sprite-icon_play_preview{ background-position: 0 -1472px; width: 16px; height: 16px; }
.sprite-icon_playlist_add{ background-position: 0 -1504px; width: 16px; height: 16px; }
.sprite-icon_plugin{ background-position: 0 -1536px; width: 16px; height: 16px; }
.sprite-icon_preferences{ background-position: 0 -1568px; width: 16px; height: 16px; }
.sprite-icon_prev{ background-position: 0 -1600px; width: 16px; height: 16px; }
.sprite-icon_prev_hover{ background-position: 0 -1632px; width: 16px; height: 16px; }
.sprite-icon_random{ background-position: 0 -1664px; width: 16px; height: 16px; }
.sprite-icon_run{ background-position: 0 -1696px; width: 16px; height: 16px; }
.sprite-icon_save{ background-position: 0 -1728px; width: 16px; height: 16px; }
.sprite-icon_server_lightning{ background-position: 0 -1760px; width: 16px; height: 16px; }
.sprite-icon_share{ background-position: 0 -1792px; width: 16px; height: 16px; }
.sprite-icon_statistics{ background-position: 0 -1824px; width: 16px; height: 16px; }
.sprite-icon_stop{ background-position: 0 -1856px; width: 16px; height: 16px; }
.sprite-icon_stop_hover{ background-position: 0 -1888px; width: 16px; height: 16px; }
.sprite-icon_tick{ background-position: 0 -1920px; width: 16px; height: 16px; }
.sprite-icon_view{ background-position: 0 -1952px; width: 16px; height: 16px; }
.sprite-icon_visualizer{ background-position: -32px 0; width: 16px; height: 16px; }
.sprite-icon_volumedn{ background-position: -32px -32px; width: 16px; height: 16px; }
.sprite-icon_volumemute{ background-position: -32px -64px; width: 16px; height: 16px; }
.sprite-icon_volumeup{ background-position: -32px -96px; width: 16px; height: 16px; }
.sprite-icon_wand{ background-position: -32px -128px; width: 16px; height: 16px; }
.sprite-icon_wikipedia{ background-position: -32px -160px; width: 16px; height: 16px; }
.sprite-icon_world_link{ background-position: -32px -192px; width: 16px; height: 16px; }

