.sprite-icon_add{ background-position: 0 0; width: 16px; height: 16px; }
.sprite-icon_add12{ background-position: 0 -32px; width: 16px; height: 16px; }
.sprite-icon_add2{ background-position: 0 -64px; width: 16px; height: 16px; }
.sprite-icon_add_user{ background-position: 0 -96px; width: 16px; height: 16px; }
.sprite-icon_admin{ background-position: 0 -128px; width: 16px; height: 16px; }
.sprite-icon_all{ background-position: 0 -160px; width: 16px; height: 16px; }
.sprite-icon_delete{ background-position: 0 -192px; width: 16px; height: 16px; }
.sprite-icon_disable{ background-position: 0 -224px; width: 16px; height: 16px; }
.sprite-icon_edit{ background-position: 0 -256px; width: 16px; height: 16px; }
.sprite-icon_edit2{ background-position: 0 -288px; width: 16px; height: 16px; }
.sprite-icon_enable{ background-position: 0 -320px; width: 16px; height: 16px; }
.sprite-icon_feed{ background-position: 0 -352px; width: 16px; height: 16px; }
.sprite-icon_home{ background-position: 0 -384px; width: 16px; height: 16px; }
.sprite-icon_logout{ background-position: 0 -416px; width: 16px; height: 16px; }
.sprite-icon_next{ background-position: 0 -448px; width: 16px; height: 16px; }
.sprite-icon_pause{ background-position: 0 -480px; width: 16px; height: 16px; }
.sprite-icon_play{ background-position: 0 -512px; width: 16px; height: 16px; }
.sprite-icon_play_add{ background-position: 0 -544px; width: 16px; height: 16px; }
.sprite-icon_playlist_add{ background-position: 0 -576px; width: 16px; height: 16px; }
.sprite-icon_plugin{ background-position: 0 -608px; width: 16px; height: 16px; }
.sprite-icon_prev{ background-position: 0 -640px; width: 16px; height: 16px; }
.sprite-icon_random{ background-position: 0 -672px; width: 16px; height: 16px; }
.sprite-icon_stop{ background-position: 0 -704px; width: 16px; height: 16px; }
.sprite-icon_view{ background-position: 0 -736px; width: 16px; height: 16px; }
.sprite-icon_volumeup{ background-position: 0 -768px; width: 16px; height: 16px; }
