<!--
/*

COLORS:

Black and white 8)

*/
-->

/* TEXT ELEMENTS */

p { 
	color: #FFFFFF;
        font: 8px nonstep, sans-serif;
}
a { 
	color: #FFFFFF;
        font: 8px nonstep, sans-serif;
}
a:visited { 
	color: #FFFFFF;
        font: 8px nonstep, sans-serif;
}
a:active { 
	color: #FFFFFF;
        font: 8px nonstep, sans-serif;
}
td { 
	color: #FFFFFF;
        font: 8px nonstep, sans-serif;
}

/* FORM ELEMENTS */

input {
	color: #FFFFFF; 
        font: bold 8px nonstep, sans-serif;
	background-color: #000000; 
	margin: 2px;
	position: relative;
	top: 1px;
	padding: 1px 2px;
	border: 1px solid #FFFFFF;
}
select { 
	color: #FFFFFF; 
        font: 8px nonstep, sans-serif;
	background-color: #000000;
	border: 1px solid #FFFFFF;
	position: relative;
	top: -1px;
}
textarea { 
	background-color: #000000;
	color: #FFFFFF;
        font: 8px nonstep, sans-serif;
	border: 1px solid #FFFFFF;
	padding: 2px;
}
.text-action, .text-action li {
	margin-top:10px;
	text-align: center;
}
.button {
	font: 8px nonstep, sans-serif;
}
.text-action a, .text-action a.visited, .text-action a.active, .text-action span {
	background: #000000;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
 	padding: 2px;
	text-decoration: none;
}
.confirmation-box {
	padding: 5px;
 	margin: 10px auto;
	background-color: #000000;
	border:1px solid #FFFFFF;
}

/* BIG BOXES */

body {	
	padding-top: 25px;
        font: 8px nonstep, sans-serif;
	color: #000000;
	background: #000000;
	text-align: center;
}
.smeg-ie {
	margin: 0 auto;
}
#maincontainer {
	text-align: center;
}
#content {
	margin: 0 auto;
	position: relative;
	top: -29px;
	width: 990px;
	border-right: 2px solid #D8D7D7;
	border-left: 2px solid #FFFFFF;
	background: #000000;
	z-index: 1;
}
#footer-content {
	margin: 0 auto;
	width: 1000px;
	height: 30px;
	background: url(../images/footer.gif) no-repeat top left;
	position: relative;
	top: -29px;
	z-index: 2;
}

/* TOP BAR */

#topbar {
	margin: 0 auto;
	height: 400px;
	width: 1000px;
	padding: 0;
}
#topbarright { 
	/* This holds the "Your currently logged in as and version */
	float: right;
	position: relative;
	z-index: 100;
	top: -30px;
	right: 20px;
	border: 0;
        font: 8px nonstep, sans-serif;
	font-weight: normal;
	background: transparent;
	color: #FFFFFF;
}
#topbarleft {
	/* ampache.gif inside this, hard coded into the page */
	float: left;
	border: 0;
}

/* SIDEBAR == MENU */

div#sidebar {
	margin: 0px auto;
	padding: 4px 0px 0px 62px;
	height: 52px;
	width: 938px;
	position: relative;
	top: -22px;
	left: 0px;
	background: url(../images/button_bar.gif) no-repeat top left;
	z-index: 50;
	text-align: left;
	/* text-align required for IE */
}
#sidebar h3 {
	/* Annoying in IE, breaks stuff if you aren't careful */
	display: none;
	width: 0; 
	height: 0; 
	margin:0;
	padding:0;
	border: 0;
	background: transparent;
	line-height: 1px;
}
#sidebar ul {
	margin: 0px;
	list-style: none;
        font: 9px nonstep, sans-serif;
	padding: 0px;
	width: 720px;
	line-height: 10px;
	border: 0;
}
#sidebar li {
	margin: 0;
	float: left;
	padding: 5px 0px;
	height: 12px;
	width: 120px;
	background: transparent;
	border: 0;
	text-align: center;
}
#sidebar a, .navbutton, #sidebar a:visited {}
#sidebar ul.subnavside li { 
	background: url(../images/menu_sub.gif) no-repeat top left;
	border: 0;
	position: relative;
	top: -5px;
	left: 3px;
	z-index: 3;
	width: 115;
}
#sidebar li:hover, #sidebar li.sfhover {
	background: transparent;
}
#sidebar li:active {
	background: transparent;
}
#sidebar li ul {
	margin: 0 0 0 0;
	z-index: 3;
}
#sidebar li:hover ul {
	position: relative;
	top: 7px;
}
#play_type_switch {
	position: relative;
	top: -5px;
	width: 92px;
	border: 1px solid #FFFFFF;
	background: #000000;
}

/* NOW PLAYING STATS & POPULAR ON HOME PAGE */

.np_row {
	border: 0;
	width: 780px;
}
.np_cell, .np_cell_left, .np_cell_m, .np_cell_right {
	padding: 10px 0 10px 0;
	text-align: center;
	border: 0;
	width: 500px;
}
#biddaddy {
	/* The box around some stuff on the main page. */
	text-align: left;
}

/* TABLES */

.box { 
	text-align: center;
	background: #000000;
	margin: 10px auto;
	border: 1px solid #FFFFFF;
}
.box-title {
	width: 800px;
	border-bottom: solid 1px #FFFFFF;
	font-weight: bold;
}
.box-content table {
	margin: 5px auto;
	text-align: left;
}
.box-content {
	padding: 5px;
	text-align: left;
}

/* TABLE PIECES */

.odd {
	background:#000000;
	text-align: left;
}
.even {
	background:#222222;
	text-align: left;
}
.even td {
	text-align: center;
	padding: 3px;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
.odd td {
	text-align: center;
	padding: 3px;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
th {
	padding: 4px 0;
	text-align: center;
	font-weight: normal;
}
.table-header td,th {
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-top: 3px double #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 4px;
	text-align: center;
	background: #000000;
}
.table-footer td {
	/* This is my tag, its not officially supported */
	background: #000000;
	border-bottom: 3px double #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
.tabledata td {
	border-bottom: 1px solid #FFFFFF;
}
.error { 
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.alphabet { 
	margin: 10px;
        font: 8px nonstep, sans-serif;
}
.list-header td {
	border: 0;
}
hr {
	border: 1px solid #000000;
}

/* BORDERS AROUND BOXES */

.box-left-top		{ display: none }
.box-right-top		{ display: none }
.box-left-bottom	{ display: none }
.box-right-bottom	{ display: none }
.box-left		{ display: none }
.box-right		{ display: none }
.box-top		{ display: none }
.box-bottom		{ display: none }

/* CONFIG PAGE STUFF */

.text-box {
	display: table-cell;
	padding: 4px;
	background-color: transparent;
	border:1px solid #FFFFFF;
}
#tablist {
        padding: 3px 0;
        margin: 12px 0 0 0;
        font: bold 8px nonstep, sans-serif;
}
#tablist li a {
        padding: 3px 0.5em;
        margin-left: 3px;
        border: 1px solid #FFFFFF;
        border-bottom: none;
        background: #222222;
}
#tablist li a:link {
	color: #FFFFFF;
}
#tablist li a:visited {
	color: #FFFFFF;
}
#tablist li a:hover {
        color: #FFFFFF;
        background: #000000;
        border-color: #FFFFFF;
}
#tablist li a#current {
        color: #FFFFFF;
        background: #000000;
        border-color: #FFFFFF;
        border-bottom: none;
}
.header1 {
        font: bold 12px nonstep, sans-serif;
}
.header2 {
        font: bold 8px nonstep, sans-serif;
}

/* LOGIN PAGE */

#container {
	margin:300px auto 0 auto;
	width:437px;
	font-size: 8px;
	text-align:center;
}
#container h1 span {
	display:none;
}
.loginp_1 {
	text-align:right;
	padding-right:140px;
}
.loginp_1 span {
	font-weight:bold;
}
.loginp_1 input {
	border:1px solid #999;
}