config/ampache-doped.cfg.php
config/ampache.cfg.php
config/registration_agreement.php
log/
logs/
tmp/
public/.maintenance
public/channel/.htaccess
public/play/.htaccess
public/rest/.htaccess
public/lib/components
public/client
public/newclient
public/core
public/develop
public/master
public/foam
public/ample
bootstrap/
components/
node_modules/
storage/
nbproject/
vendor/
.settings/
.vscode/
.idea/
cs_fixer_tmp_*
.buildpath
.env
.pc
.php_cs.cache
.project
build
php-cs-fixer.phar
composer.phar
robots.txt
web.config
phpcbf*
phpcs*
*#
*.log
*.phpproj
*.save
*.sln
*.suo
*.swp
*.v11.suo
*~
