.fleet/
.idea/
.settings/
.tx/config_*.bak
.vscode/
.buildpath
.env
.pc
.phpunit.*
.project
.php-cs-fixer.cache
bootstrap/
build/
config/ampache-doped.cfg.php
config/ampache.cfg.php
config/ampache.cfg.php.backup
config/registration_agreement.php
log/
logs/
nbproject/
node_modules/
.maintenance
dist/
play/.htaccess
rest/.htaccess
lib/components/
client
newclient
core
develop
master
foam
ample
storage/
tmp/
vendor/
resources/images/material-symbols
composer.lock
composer.phar
cs_fixer_tmp_*
error_log
php-cs-fixer.phar
phpcbf*
phpcs*
phpunit.*
robots.txt
web.config
*.log
*.phpproj
*.save
*.sln
*.suo
*.swp
*.v11.suo
*#
*~
