parameters:
  level: 8
  paths:
    - public
    - src
  excludePaths:
    - public/lib
    - public/themes
    - public/upnp
    - public/ample
    - public/foam
    - src/Module/Playback/Scrobble/ScrobblerAsync.php
    - tests
includes:
    - phpstan-baseline.neon
