parameters:
  level: 8
  paths:
    - src
  excludePaths:
    - tests
    - src/Module/Playback/Scrobble/ScrobblerAsync.php
  ignoreErrors:
    - '#Static method Ampache\\Module\\System\\Update::_update_([0-9]+)\(\) is unused#'
includes:
    - phpstan-baseline.neon
