<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
	backupGlobals="true"
	bootstrap="tests/bootstrap.php"
	colors="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	displayDetailsOnIncompleteTests="true"
	displayDetailsOnSkippedTests="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
	<coverage cacheDirectory="build/coverageCache" />
	<source restrictDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true">
		<include>
			<directory>src</directory>
		</include>
		<exclude>
			<directory suffix="service_definition.php">src</directory>
		</exclude>
	</source>
</phpunit>
