<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
	backupGlobals="true"
	bootstrap="tests/bootstrap.php"
	colors="true"
>
	<coverage cacheDirectory="build/coverageCache" />
	<source>
		<include>
			<directory>src</directory>
		</include>
		<exclude>
			<directory suffix="service_definition.php">src</directory>
		</exclude>
	</source>
</phpunit>
