[Unit]
Description=ampache_cron
After=network.target remote-fs.target nss-lookup.target
Documentation=https://github.com/ampache/ampache/wiki

[Service]
PrivateTmp=true
KillMode=mixed
Type=oneshot
User=www-data
Group=www-data
ExecStart=php bin/cron.inc
WorkingDirectory=/var/www/html
ProtectSystem=yes

[Install]
WantedBy=multi-user.target
