[Unit]
Description=start ampache_stats_consolidate.service

[Timer]
OnCalendar=monthly
Persistent=true
Unit=ampache_stats_consolidate.service

[Install]
WantedBy=timers.target
