@import "~stylus/settings/color.styl"

.playlistSelector
    height 500px
    width 100%

.playlists
    display flex
    flex-direction column
    height 100%
    overflow-y scroll
    background-color @background-color

.playlist
    cursor pointer
    padding 10px
    margin-bottom 1px
    background-color #4d4d4d
    border 1px solid transparent

    &:nth-child(odd)
        background-color #333

    &.newPlaylist
        text-align center
        margin-top auto
        margin-bottom 0