.w3-theme-l5 {color:#000 !important; background-color:#f2f2f2 !important}
.w3-theme-l4 {color:#000 !important; background-color:#d3d3d3 !important}
.w3-theme-l3 {color:#000 !important; background-color:#a6a6a6 !important}
.w3-theme-l2 {color:#fff !important; background-color:#7a7a7a !important}
.w3-theme-l1 {color:#fff !important; background-color:#4e4e4e !important}
.w3-theme-d1 {color:#fff !important; background-color:#1e1e1e !important}
.w3-theme-d2 {color:#fff !important; background-color:#1b1b1b !important}
.w3-theme-d3 {color:#fff !important; background-color:#171717 !important}
.w3-theme-d4 {color:#fff !important; background-color:#141414 !important}
.w3-theme-d5 {color:#fff !important; background-color:#111111 !important}

.w3-theme-light {color:#000 !important; background-color:#f2f2f2 !important}
.w3-theme-dark {color:#fff !important; background-color:#111111 !important}
.w3-theme-action {color:#fff !important; background-color:#111111 !important}

.w3-laravel-body {color:#fff !important; background-color:#222222 !important}
.w3-text-sidebar {color:#999 !important}
.w3-border-theme {border-color:#222222 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#222222 !important}
.w3-hover-text-theme:hover {color:#222222 !important}
.w3-hover-border-theme:hover {border-color:#222222 !important}
