/***********************************************
           jQuery edit dialog                         
***********************************************/
.editdialogstyle.ui-dialog {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "DejaVuSansCondensed",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #222;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.editdialogstyle.ui-dialog  .ui-dialog-titlebar {
    background: none;
    background-color: rgba(255,255,255,0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #1d1d1d;
    border: 2px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.05);
    -moz-box-shadow: 0 0 5px rgba(255,255,255,0.05);
    box-shadow: 0 0 5px rgba(255,255,255,0.05);
    padding: 7px;
    color: #eee;
}

.editdialogstyle.ui-dialog  .ui-dialog-title {
}

.editdialogstyle.ui-dialog .ui-dialog-content {
    color: #999;
    border: 0;
    margin: 20px auto 20px auto;
}

.editdialogstyle.ui-dialog .ui-dialog-buttonpane {
    background: none;
    background-color: rgba(255,255,255,0.1);
    height: 40px;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #1d1d1d;
    border: 2px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.05);
    -moz-box-shadow: 0 0 5px rgba(255,255,255,0.05);
    box-shadow: 0 0 5px rgba(255,255,255,0.05);
    width: auto;
}

.editdialogstyle.ui-dialog .ui-dialog-buttonset button {
    background: none;
    background-image: -moz-linear-gradient(top,#ff9d00,#cc6200);
    background-image: -ms-linear-gradient(top,#ff9d00,#cc6200);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff9d00),to(#cc6200));
    background-image: -webkit-linear-gradient(top,#ff9d00,#cc6200);
    background-image: -o-linear-gradient(top,#ff9d00,#cc6200);
    background-image: linear-gradient(top,#ff9d00,#cc6200);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    position: relative;
    line-height: normal;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #fff;
    min-width: 100px;
    font-size: 15px;
}

.editdialogstyle.ui-dialog .ui-dialog-buttonset button:hover {
    background-position: 0 -10px;
    background-color: #cc6200;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    text-decoration: none;
}

.editdialogstyle.ui-dialog .ui-dialog-buttonset button:focus:active {
    -webkit-box-shadow:inset 0 0 3px #000,0 1px 0 rgba(255,255,255,0.1);
    -moz-box-shadow:inset 0 0 3px #000,0 1px 0 rgba(255,255,255,0.1);
    box-shadow:inset 0 0 3px #000,0 1px 0 rgba(255,255,255,0.1);
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.edit_dialog_content {
    min-height: 29px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    text-align: left;
}

.edit_dialog_content td {
    min-width: 100px;
    padding-bottom: 20px;
}

.edit_dialog_content input[type=text] , .edit_dialog_content select {
    width: 430px;
    height: 30px;
    color: #fff;
    background: #333;
    background: rgba(255,255,255,0.2);
    border-color: #222;
    border-color: rgba(0,0,0,0.7);
}

.edit_dialog_content input:focus, .edit_dialog_content select:focus {
    color: #555;
    background: #fff;
    background: rgba(255,255,255,0.9);
    border: 2px solid #ffc763;
}

.edit_dialog_content .metadataAccordion {
	display: none;
}

/***********************************************
           jQuery add to playlist dialog                         
***********************************************/
.playlistdialogstyle.ui-dialog {
    background-color: #222;
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-color: #1d1d1d;
    border: 2px solid rgba(0,0,0,0.15);
    z-index: 10000;
}

.playlistdialogstyle.ui-widget-content a {
    background-color: #222;
	color: #eee;
	text-decoration: none;
	text-align: left;
	padding: 0.4em;
}

.playlistdialogstyle.ui-widget-content a:hover {
	color: #ff9d00;
    cursor: pointer;
}

.playlistdialogstyle.ui-dialog  .ui-dialog-titlebar {
    display: none;
}

.playlistdialogstyle.ui-dialog  .ui-dialog-title {
    display: none;
}

.playlistdialogstyle.ui-dialog .ui-dialog-content {
    background-color: #222;
    color: #999;
    border: 0;
}

.playlistdialogstyle.ui-dialog .ui-dialog-buttonpane {
    display: none;
}

.playlistdialogstyle.ui-dialog .ui-dialog-buttonset button {
    display: none;
}

.playlistdialogstyle.ui-dialog .ui-dialog-buttonset button:hover {
    display: none;
}

.playlistdialogstyle.ui-dialog .ui-dialog-buttonset button:focus:active {
    display: none;
}

/***********************************************
           jQuery broadcasts dialog                         
***********************************************/
.broadcastsdialogstyle.ui-dialog {
    background-color: #222;
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-color: #1d1d1d;
    border: 2px solid rgba(0,0,0,0.15);
    z-index: 9999;
}

.broadcastsdialogstyle.ui-widget-content a {
    background-color: #222;
	color: #eee;
	text-decoration: none;
	text-align: left;
	padding: 0.4em;
}

.broadcastsdialogstyle.ui-widget-content a:hover {
	color: #ff9d00;
    cursor: pointer;
}

.broadcastsdialogstyle.ui-dialog  .ui-dialog-titlebar {
    display: none;
}

.broadcastsdialogstyle.ui-dialog  .ui-dialog-title {
    display: none;
}

.broadcastsdialogstyle.ui-dialog .ui-dialog-content {
    background-color: #222;
    color: #999;
    border: 0;
}

.broadcastsdialogstyle.ui-dialog .ui-dialog-buttonpane {
    display: none;
}

.broadcastsdialogstyle.ui-dialog .ui-dialog-buttonset button {
    display: none;
}

.broadcastsdialogstyle.ui-dialog .ui-dialog-buttonset button:hover {
    display: none;
}

.broadcastsdialogstyle.ui-dialog .ui-dialog-buttonset button:focus:active {
    display: none;
}

/***********************************************
           jQuery share dialog                         
***********************************************/
.sharedialogstyle.ui-dialog {
    background-color: #222;
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-color: #1d1d1d;
    border: 2px solid rgba(0,0,0,0.15);
    z-index: 9999;
}

.sharedialogstyle.ui-widget-content a {
    background-color: #222;
	color: #eee;
	text-decoration: none;
	text-align: left;
	padding: 0.4em;
}

.sharedialogstyle.ui-widget-content a:hover {
	color: #ff9d00;
    cursor: pointer;
}

.sharedialogstyle.ui-dialog  .ui-dialog-titlebar {
    display: none;
}

.sharedialogstyle.ui-dialog  .ui-dialog-title {
    display: none;
}

.sharedialogstyle.ui-dialog .ui-dialog-content {
    background-color: #222;
    color: #999;
    border: 0;
}

.sharedialogstyle.ui-dialog .ui-dialog-buttonpane {
    display: none;
}

.sharedialogstyle.ui-dialog .ui-dialog-buttonset button {
    display: none;
}

.sharedialogstyle.ui-dialog .ui-dialog-buttonset button:hover {
    display: none;
}

.sharedialogstyle.ui-dialog .ui-dialog-buttonset button:focus:active {
    display: none;
}
/* vim:set softtabstop=4 shiftwidth=4 expandtab: */
/**
 *
 * LICENSE: GNU Affero General Public License, version 3 (AGPLv3)
 * Copyright 2001 - 2015 Ampache.org
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*****************************************************************************/
/* Base Definitions, may be overwridden by themes
/*****************************************************************************/

/*****************
 * Tag Definitions
 *****************/

.tag_size1 {
    font-size:.6em;
}
.tag_size2 {
    font-size:.8em;
}
.tag_size3 {
    font-size:1em;
}
.tag_size4 {
    font-size:1.2em;
}

a.tag_size1, a.tag_size2, a.tag_size3, a.tag_size4 { text-decoration: none; }

.hover-add:hover { color: #347C17; }
.hover-remove:hover { color: #FF0000; }

/*****************
 * Generic / Misc
 *****************/

.hidden {
    visibility: hidden;
}

.item_on {
    color: #347C17;
}

.item_off {
    color: #FF0000;
}

#tabs_wrapper {
	width: auto;
}

#tabs_container {
    padding-bottom: 12px;
    margin-bottom: 20px;
    line-height: 18px;
    border-color: #333;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#tabs li {
	display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin-right: 30px;
}

#tabs li a {
    color: #ff9d00;
    text-decoration: none;
}

#tabs li a:hover {
    color: #ffc466;
    outline: 0;
}

#tabs li.tab_active a {
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
    padding-bottom: 10px;
    text-shadow: none;
    border-bottom: 2px solid #666;
}

#tabs_content {
	padding: 10px;
	width: auto;
}

.tab_content {
	display: none;
}

#aslideshow {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    display: none;
}

#aslideshow_container  {
    width: 50%;
    max-height: 600px;
    height: 100%;
    margin: 80px auto;
}

#aslideshow_container .rhino-container {
    width: 100% !important;
    height: 100% !important;
}

#fslider {
    width: 100%;
    height: 100%;
}

.shout {
    clear: float;
    width: 400px;
    height: auto;
    padding-right: 40px;
    padding-bottom: 20px;
}
.shoutbox-item {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: normal;
    position: relative;
}

.shoutbox-data {
    min-height: 75px;
}

.shoutbox-img {
    float: left;
    display:inline;
    padding-right: 10px;
}

.shoutbox-info {
    display:inline;
}

.shoutbox-object {
    font-weight: bold;
}

.shoutbox-date {
    color: #D6D6D6;
}

.shoutbox-text {
    padding-top: 10px;
    word-wrap: break-word;
}

.shoutbox-footer {
    width: 100%;
    padding-top: 5px;
}

.shoutbox-actions {
    display:inline;
}

.shoutbox-user {
    font-size: 10px;
    display:inline;
    text-align: right;
    float: right;
}

.noty_ampache {
    color: #ffffff;
    background-color: #222;
}

.searchart {
    top: 0px;
    left: 0px;
    display: block;
    height: 24px;
    width: 24px;
    margin: 1px 6px;
    padding: 1px;
    border: 1px solid #F2F2F2;
    float: left;
}

.searchitemtxt {
    display:inline-block;
    vertical-align:middle;
    height: 32px;
}

#topmenu_container {
    text-align: center;
}

.topmenu_container-float {
    margin-top: 10px;
}

.topmenu_container-fixed {
    margin-top: 70px;
}

#topmenu_item {
    width: 50px;
    height: 100%;
    margin-right: 70px;
    display: inline-block;
}

#topmenu_container span {
    font-size: 14px;
    line-height: 2em;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#topmenu_container img {
    height: 50px;
    width: 50px;
	z-index: 9999;
    margin: 2px;
}

#topmenu_container img:hover {
    border: 2px solid #ff9d00;
    margin: 0px;
}

.browse_custom_value {
    margin-left: 5px;
    height: 20px;
    width: 50px;
    text-align: center;
    padding: 0;
}

.expanded {
    float: right;
    margin-top: 5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.collapsed {
    float: right;
    margin-top: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#notification {
	position: fixed;
    top: auto;
	bottom: 20px;
	left: 50%;
	z-index: 8888;
	width: 50%;
	padding: 5px 20px;
	margin: 0;
	background-color: #000;
	border-radius: 10px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
	box-shadow: 0 4px 12px rgba(0,0,0,.5);
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
}

#notification.notification-out {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translate(-50%,80px);
	-ms-transform: translate(-50%,80px);
	transform: translate(-50%,80px);
}

#notification img {
	height: 100%;
	vertical-align: middle;
	margin-top: -3px;
}

#notification-content {
	margin-left: 10px;
}
/*----------------------------
    The file upload form
    
    http://tutorialzine.com/2013/05/mini-ajax-file-upload-form/
-----------------------------*/

#dropfile{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../images/fileupload-border.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#dropfile a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#dropfile a:hover{
    background-color:#0986a3;
}

#dropfile input{
    display:none;
}

#uploadfile ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#uploadfile ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#uploadfile ul li input{
    display: none;
}

#uploadfile ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#uploadfile ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#uploadfile ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#uploadfile ul li span{
    width: 15px;
    height: 12px;
    background: url('../images/fileupload-icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#uploadfile ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#uploadfile ul li.error p{
    color:red;
}

/*----------------------------
    The file tree
-----------------------------*/

#container { min-width:620px; margin:0px auto 0 auto; border-radius:0px; padding:0px; overflow:hidden; }
#tree { float:right; min-width:600px; border-right:1px solid silver; overflow:auto; padding:0px 0; }
#data { float:left; }
#data textarea { margin:0; padding:0; height:100%; width:100%; border:0; display:block; line-height:18px; resize:none; }
/* vim:set softtabstop=4 shiftwidth=4 expandtab: */
/**
 *
 * LICENSE: GNU Affero General Public License, version 3 (AGPLv3)
 * Copyright 2001 - 2015 Ampache.org
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

/*.ui-autocomplete {
    width:424px;
    margin:0;
    padding:0 0 14px 0;
}*/

.ui-autocomplete-category {
    font-size: 10px;
}

.ui-menu-item {
    font-size: 16px;
}
/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.jplayer.org
 *
 * Skin Name: Midnight Black
 *
 * Copyright (c) 2010-2012 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Per Sandström (https://github.com/persand)
 * Maintainer: Kasim Ahmic (https://github.com/TheInfection)
 * Skin Version: 2.6.3 (jPlayer 2.1.x, 2.2.x, 2.3.x, 2.4.x)
 * Date: October 2nd, 2013
 */
 
 body {
    background: none;
    background-color: rgb(25, 25, 25);
 }
 
 div.jp-area {
    margin-left: 230px;
    margin-right: auto;
    margin-top: 10px;
    width: 500px;
    min-width: 500px;
 }
 
a:active, a:focus {
	outline: none; /* To keep Google Chrome from adding that ugly yellow border/outlune on buttons when clicked */
}

div.jp-audio,
div.jp-audio-stream,
div.jp-video {

	/* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */

	font-size: 1.25em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

	font-family: 'Verdana', Arial, sans-serif;
	line-height: 1.6;
	background-color: #eee;
}
div.jp-audio {
	width: 480px;
}
div.jp-audio-stream {
	width: 150px;
}
div.jp-video-270p {
	width: 480px;
}
div.jp-video-360p {
	width: 640px;
}
div.jp-video-full {
	/* Rules for IE6 (full-screen) */
	width: 480px;
	height: 270px;
	/* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
	position: static !important;
	position: relative;
}

/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
div.jp-video-full div div {
	z-index: 1000;
}

div.jp-video-full div.jp-jplayer {
	top: 0;
	left: 0;
	position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
}

div.jp-video-full div.jp-gui {
	position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001; /* 1 layer above the others. */
}

div.jp-video-full div.jp-interface {
	position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
	bottom: 0;
	left: 0;
}

div.jp-interface {
	position: relative;
	width: 100%;
}

div.jp-audio div.jp-type-single div.jp-interface {
	height: 75px;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
	height: 70px;
}

div.jp-audio-stream div.jp-type-single div.jp-interface {
	height: 50px;
}

/* @group CONTROLS */

div.jp-controls-holder {
	clear: both;
	width: 440px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	top: -8px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

div.jp-interface ul.jp-controls {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.jp-audio ul.jp-controls {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	padding: 0;
}

div.jp-audio-stream ul.jp-controls {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
}

div.jp-video div.jp-type-single ul.jp-controls {
	width: 78px;
	margin-left: 200px;
}

div.jp-video div.jp-type-playlist ul.jp-controls {
	width: 134px;
	margin-left: 172px;
}
div.jp-video ul.jp-controls,
div.jp-interface ul.jp-controls li {
	display: inline;
	float: left;
}

div.jp-interface ul.jp-controls a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}
a.jp-play,
a.jp-pause {
	width: 40px;
	height: 40px;
}

a.jp-play, a.jp-play:hover, a.jp-pause, a.jp-pause:hover, a.jp-stop, a.jp-stop:hover, a.jp-previous, a.jp-previous:hover, a.jp-next, a.jp-next:hover, div.jp-seek-bar, div.jp-play-bar, a.jp-mute, a.jp-mute:hover, a.jp-unmute, a.jp-unmute:hover, a.jp-volume-max, a.jp-volume-max:hover, div.jp-volume-bar, div.jp-audio, div.jp-volume-bar, div.jp-volume-bar-value, a.jp-full-screen, a.jp-full-screen:hover, a.jp-restore-screen, a.jp-restore-screen:hover, a.jp-repeat, a.jp-repeat:hover, a.jp-repeat-off, a.jp-repeat-off:hover, a.jp-shuffle, a.jp-shuffle:hover, a.jp-shuffle-off, a.jp-shuffle-off:hover {
	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.png") no-repeat;
}

a.jp-play {
	background-position: 0 0;
}
a.jp-play:hover {
	background-position: -41px 0;
}
a.jp-pause {
	background-position: 0 -42px;
	display: none;
}
a.jp-pause:hover {
	background-position: -41px -42px;
}

a.jp-stop, a.jp-previous, a.jp-next {
	width: 28px;
	height: 28px;
	margin-top: 6px;
}

a.jp-stop {
	background-position: 0 -83px;
	margin-left: 10px;
}

a.jp-stop:hover {
	background-position: -29px -83px;
}

a.jp-previous {
	background-position: 0 -112px;
}
a.jp-previous:hover {
	background-position: -29px -112px;
}

a.jp-next {
	background-position: 0 -141px;
}
a.jp-next:hover {
	background-position: -29px -141px;
}

/* @end */

/* @group progress bar */

div.jp-progress {
	overflow: hidden;
	position: absolute;
	background: transparent;
}
div.jp-audio div.jp-progress {
	top: 27px;
	height: 15px;
}
div.jp-audio div.jp-type-single div.jp-progress {
	top: 27px;
	left: 110px;
	right: 112px;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
	left: 166px;
	right: 179px;
}
div.jp-video div.jp-progress {
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
}
div.jp-seek-bar {
	background-repeat: repeat-x;
	background-position: 0 -202px;
	width: 0;
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.25);
	overflow: hidden;
}
div.jp-play-bar {
	background-repeat: repeat-x;
	background-position: 0 -218px;
	width:0;
	height:100%;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.25), 2px 0 5px -2px rgba(0,0,0,0.3);
}
div.jp-video div.jp-seek-bar,
div.jp-video div.jp-play-bar {
	border-radius: 0;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.seeking.gif");
}

/* @end */

/* @group volume controls */


a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	position: absolute;
	width:18px;
	height:15px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
	top: 12px;
	right: 66px;
}
div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
	top: 12px;
	right: 133px;
}

div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute {
	top: 12px;
	right: 67px;
}
div.jp-audio-stream div.jp-type-single a.jp-volume-max,
div.jp-audio div.jp-type-single a.jp-volume-max {
	top: 12px;
	right: 0;	
}
div.jp-audio div.jp-type-playlist a.jp-volume-max {
	top: 12px;
	right: 66px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute,
div.jp-video a.jp-volume-max {
	position: absolute;
	top:12px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute {
	left: 50px;
}

div.jp-video a.jp-volume-max {
	left: 130px;
}

a.jp-mute {
	background-position: 0 -170px;
}
a.jp-mute:hover {
	background-position: -19px -170px;
}
a.jp-unmute {
	background-position: -39px -170px;
	display: none;
}
a.jp-unmute:hover {
	background-position: -60px -170px;
}
a.jp-volume-max {
	background-position: 0 -186px;
}
a.jp-volume-max:hover {
	background-position: -19px -186px;
}

div.jp-volume-bar {
	position: absolute;
	overflow: hidden;
	background-repeat: repeat-x;
	background-position: 0 -250px;
	width: 45px;
	height: 5px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
div.jp-audio div.jp-type-single div.jp-volume-bar {
	top: 32px;
	right: 38px;
}
div.jp-audio div.jp-type-playlist div.jp-volume-bar {
	top: 32px;
	right: 104px;
}
div.jp-audio-stream div.jp-volume-bar {
	top: 22px;
	right: 28px;
}
div.jp-video div.jp-volume-bar {
	top: 17px;
	left: 72px;
}
div.jp-volume-bar-value {
	background-repeat: repeat-x;
	background-position: 0 -256px;
	width: 0;
	height: 5px;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.25);
}

/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
	position: absolute;
	top: 45px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
	left: 110px;
	right: 112px;
}
div.jp-audio div.jp-type-playlist div.jp-time-holder {
	left: 166px;
	right: 179px;
}

div.jp-current-time,
div.jp-duration {
	width: auto;
	font-size: 10px;
	font-style: italic;
}
div.jp-current-time {
	float: left;
	display: inline;
	text-align: left;
}
div.jp-duration {
	float: right;
	display: inline;
	text-align: right;
}

div.jp-video div.jp-current-time {
	margin-top: 10px;
	margin-left: 10px;
}
div.jp-video div.jp-duration {
	margin-top: 10px;
	margin-right: 10px;
}

/* @end */

/* @group playlist */

div.jp-title {
	font-weight: bold;
	text-align: center;
	color: #FFF;
	
	background-color: rgba(0,0,0,0) !important;
	font-size:0.7em;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.playing_info {
	position: absolute;
	left: 10px;
	top: 220px;
	font-size: 1.5em;
	font-family: 'Verdana',Arial,sans-serif;
	width: 220px;
}

div.playing_artist {
	font-size:0.8em;
}

div.playing_artist a {
	text-decoration: none;
}

div.playing_title {
	font-size:1.1em;
}

div.jp-title,
div.jp-playlist {
	width: 100%;
    height: 200px;
    overflow: auto;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    z-index: 0;
}
div.jp-type-single div.jp-title,
div.jp-type-playlist div.jp-title,
div.jp-type-single div.jp-playlist {
	border-top: none;
}
div.jp-title ul,
div.jp-playlist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: .62em;
}

div.jp-title li {
	padding: 5px 0;
	font-weight: bold;
}
div.jp-playlist li {
	padding: 6px 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

div.jp-playlist li div {
	display: inline;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

div.jp-type-playlist div.jp-playlist li:last-child {
	border-bottom: none;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	padding-left: 20px;
}
div.jp-type-playlist div.jp-playlist a {
	color: #BBB;
	text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
	color: #FFF;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color: #FFF;
	font-weight: bold;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
	float: right;
	display: inline;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
	color: #666;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
	color: #FFF;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media {
	float: right;
	display: inline;
	text-align: right;
	margin-right: 10px;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a{
	color: #666;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{
	color: #FFF;
}
span.jp-artist {
	font-size: .8em;
	color: #666;
}

/* @end */

div.jp-video-play {
	width: 100%;
	overflow: hidden; /* Important for nested negative margins to work in modern browsers */
	cursor: pointer;
	background-color: rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}
div.jp-video-270p div.jp-video-play {
	margin-top: -270px;
	height: 270px;
}
div.jp-video-360p div.jp-video-play {
	margin-top: -360px;
	height: 360px;
}
div.jp-video-full div.jp-video-play {
	height: 100%;
}
a.jp-video-play-icon {
	position:relative;
	display:block;
	width: 112px;
	height: 100px;

	margin-left: -56px;
	margin-top: -50px;
	left: 50%;
	top: 50%;

	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.video.play.png") 0 0 no-repeat;
	text-indent: -9999px;
}
div.jp-video-play:hover a.jp-video-play-icon {
	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.video.play.png") 0 -100px no-repeat;
}





div.jp-jplayer audio,
div.jp-jplayer {
	width: 0;
	height: 0;
}

div.jp-jplayer {
	background-color: #000000;
    position: absolute;
    top: 10px;
    left: 10px;
}





/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}

div.jp-audio .jp-type-single ul.jp-toggles {
	width: auto;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -14px;
}
div.jp-audio .jp-type-playlist ul.jp-toggles {
	width: auto;
	margin: 0;
	position: absolute;
	right: 15px;
	top: 22px;
}

div.jp-video ul.jp-toggles {
	width: auto;
	position: absolute;
	right: 15px;
	top: 6px;
}

ul.jp-toggles li {
	display: block;
	float: right;
}

ul.jp-toggles li a {
	display: block;
	width: 28px;
	height: 28px;
	text-indent: -9999px;
	line-height: 100%; /* need this for IE6 */
}

a.jp-full-screen {
	background-position: 0 -317px;
	margin-left: 20px;
}

a.jp-full-screen:hover {
	background-position: -30px -317px;
}

a.jp-restore-screen {
	background-position: -60px -317px;
	margin-left: 20px;
}

a.jp-restore-screen:hover {
	background-position: -90px -317px;
}

a.jp-repeat {
	background-position: 0 -289px;
}

a.jp-repeat:hover {
	background-position: -30px -289px;
}

a.jp-repeat-off {
	background-position: -60px -289px;
}

a.jp-repeat-off:hover {
	background-position: -90px -289px;
}

a.jp-shuffle {
	background-position: 0 -261px;
	margin-left: 5px;
}

a.jp-shuffle:hover {
	background-position: -30px -261px;
}

a.jp-shuffle-off {
	background-position: -60px -261px;
	margin-left: 5px;
}

a.jp-shuffle-off:hover {
	background-position: -90px -261px;
}


/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
	padding: 5px;
	font-size: .67em;
	color: #CCC;
	display: none;
	text-align: center;
}

.jp-no-solution a {
	color: #CCC;
}

.jp-no-solution span {
	font-size: 1em;
	display: block;
	text-align: center;
	font-weight: bold;
}

.broadcast {
	position: absolute;
	top: 2px;
    margin-right: 2px;
	left:210px;
	font-size: 0.67em;
}

.broadcast-info {
	display: inline;
}

.broadcast-action {
	display: inline;
}

/* @end */

/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.jplayer.org
 *
 * Skin Name: Midnight Black
 *
 * Copyright (c) 2010-2012 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Per Sandström (https://github.com/persand)
 * Maintainer: Kasim Ahmic (https://github.com/TheInfection)
 * Skin Version: 2.6.3 (jPlayer 2.1.x, 2.2.x, 2.3.x, 2.4.x)
 * Date: October 2nd, 2013
 */
 
div.jp-area {
    height: 100px;
    width: 100%;
 }
 
 div.jp-area-video {
    margin: auto;
 }
 
div.jp-area-center {
    margin-top: 20px;
 }
 
 div.jp-area-embed {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: auto !important;
    min-width: auto !important;
    margin-top: 0px !important;
 }

a:active, a:focus {
	outline: none; /* To keep Google Chrome from adding that ugly yellow border/outlune on buttons when clicked */
}

div.jp-audio,
div.jp-audio-stream,
div.jp-video {

	/* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */

	font-size: 1.25em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

	font-family: 'Verdana', Arial, sans-serif;
	line-height: 1.6;
	margin: auto;
}
div.jp-audio {
	width: 480px;
}
div.jp-audio-stream {
	width: 150px;
}
div.jp-video-270p {
	width: 480px;
}
div.jp-video-360p {
	width: 640px;
}
div.jp-video-full {
	/* Rules for IE6 (full-screen) */
	width: 480px;
	height: 270px;
	/* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
	position: static !important;
	position: relative;
}

/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
div.jp-video-full div div {
	z-index: 1000;
}

div.jp-video-full div.jp-jplayer {
	top: 0;
	left: 0;
	position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
}

div.jp-video-full div.jp-gui {
	position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001; /* 1 layer above the others. */
}

div.jp-video-full div.jp-interface {
	position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
	bottom: 0;
	left: 0;
}

div.jp-video-float div.jp-jplayer {
    position: fixed !important;
    bottom: 100px;
    border-top: 4px solid #000000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.jp-video-float  div.jp-gui {

}

div.jp-interface {
	position: relative;
	width: 100%;
	z-index: 9999;
}

div.jp-audio div.jp-type-single div.jp-interface {
	height: 75px;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
	height: 70px;
}

div.jp-audio-stream div.jp-type-single div.jp-interface {
	height: 50px;
}

/* @group CONTROLS */

div.jp-controls-holder {
	clear: both;
	width: 440px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	top: -8px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

div.jp-interface ul.jp-controls {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.jp-audio ul.jp-controls {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	padding: 0;
}

div.jp-audio-stream ul.jp-controls {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
}

div.jp-video div.jp-type-single ul.jp-controls {
	width: 78px;
	margin-left: 200px;
}

div.jp-video div.jp-type-playlist ul.jp-controls {
	width: 134px;
	margin-left: 172px;
}
div.jp-video ul.jp-controls,
div.jp-interface ul.jp-controls li {
	display: inline;
	float: left;
}

div.jp-interface ul.jp-controls a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}
a.jp-play,
a.jp-pause {
	width: 40px;
	height: 40px;
}

a.jp-play, a.jp-play:hover, a.jp-pause, a.jp-pause:hover, a.jp-stop, a.jp-stop:hover, a.jp-previous, a.jp-previous:hover, a.jp-next, a.jp-next:hover, div.jp-seek-bar, div.jp-play-bar, a.jp-mute, a.jp-mute:hover, a.jp-unmute, a.jp-unmute:hover, a.jp-volume-max, a.jp-volume-max:hover, div.jp-volume-bar, div.jp-audio, div.jp-volume-bar, div.jp-volume-bar-value, a.jp-full-screen, a.jp-full-screen:hover, a.jp-restore-screen, a.jp-restore-screen:hover, a.jp-repeat, a.jp-repeat:hover, a.jp-repeat-off, a.jp-repeat-off:hover, a.jp-shuffle, a.jp-shuffle:hover, a.jp-shuffle-off, a.jp-shuffle-off:hover {
	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.png") no-repeat;
}

a.jp-play {
	background-position: 0 0;
}
a.jp-play:hover {
	background-position: -41px 0;
}
a.jp-pause {
	background-position: 0 -42px;
	display: none;
}
a.jp-pause:hover {
	background-position: -41px -42px;
}

a.jp-stop, a.jp-previous, a.jp-next {
	width: 28px;
	height: 28px;
	margin-top: 6px;
}

a.jp-stop {
	background-position: 0 -83px;
	margin-left: 10px;
}

a.jp-stop:hover {
	background-position: -29px -83px;
}

a.jp-previous {
	background-position: 0 -112px;
}
a.jp-previous:hover {
	background-position: -29px -112px;
}

a.jp-next {
	background-position: 0 -141px;
}
a.jp-next:hover {
	background-position: -29px -141px;
}

/* @end */

/* @group progress bar */

div.jp-progress {
	overflow: hidden;
	position: absolute;
	background: transparent;
}
div.jp-audio div.jp-progress {
	top: 27px;
	height: 15px;
}
div.jp-audio div.jp-type-single div.jp-progress {
	top: 27px;
	left: 110px;
	right: 112px;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
	left: 166px;
	right: 179px;
}
div.jp-video div.jp-progress {
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
}
div.jp-seek-bar {
	background-repeat: repeat-x;
	background-position: 0 -202px;
	width: 0;
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.25);
	overflow: hidden;
}
div.jp-play-bar {
	background-repeat: repeat-x;
	background-position: 0 -218px;
	width:0;
	height:100%;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.25), 2px 0 5px -2px rgba(0,0,0,0.3);
}
div.jp-video div.jp-seek-bar,
div.jp-video div.jp-play-bar {
	border-radius: 0;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.seeking.gif");
}

/* @end */

/* @group volume controls */


a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	position: absolute;
	width:18px;
	height:15px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
	top: 12px;
	right: 66px;
}
div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
	top: 12px;
	right: 133px;
}

div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute {
	top: 12px;
	right: 67px;
}
div.jp-audio-stream div.jp-type-single a.jp-volume-max,
div.jp-audio div.jp-type-single a.jp-volume-max {
	top: 12px;
	right: 0;	
}
div.jp-audio div.jp-type-playlist a.jp-volume-max {
	top: 12px;
	right: 66px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute,
div.jp-video a.jp-volume-max {
	position: absolute;
	top:12px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute {
	left: 50px;
}

div.jp-video a.jp-volume-max {
	left: 130px;
}

a.jp-mute {
	background-position: 0 -170px;
}
a.jp-mute:hover {
	background-position: -19px -170px;
}
a.jp-unmute {
	background-position: -39px -170px;
	display: none;
}
a.jp-unmute:hover {
	background-position: -60px -170px;
}
a.jp-volume-max {
	background-position: 0 -186px;
}
a.jp-volume-max:hover {
	background-position: -19px -186px;
}

div.jp-volume-bar {
	position: absolute;
	overflow: hidden;
	background-repeat: repeat-x;
	background-position: 0 -250px;
	width: 45px;
	height: 5px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
div.jp-audio div.jp-type-single div.jp-volume-bar {
	top: 32px;
	right: 38px;
}
div.jp-audio div.jp-type-playlist div.jp-volume-bar {
	top: 32px;
	right: 104px;
}
div.jp-audio-stream div.jp-volume-bar {
	top: 22px;
	right: 28px;
}
div.jp-video div.jp-volume-bar {
	top: 17px;
	left: 72px;
}
div.jp-volume-bar-value {
	background-repeat: repeat-x;
	background-position: 0 -256px;
	width: 0;
	height: 5px;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.25);
}

/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
	position: absolute;
	top: 45px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
	left: 110px;
	right: 112px;
}
div.jp-audio div.jp-type-playlist div.jp-time-holder {
	left: 166px;
	right: 179px;
}

div.jp-current-time,
div.jp-duration {
	width: auto;
	font-size: 10px;
	font-style: italic;
	padding-right: 2px;
}
div.jp-current-time {
	float: left;
	display: inline;
	text-align: left;
	padding-left: 2px;
}
div.jp-duration {
	float: right;
	display: inline;
	text-align: right;
}

div.jp-video div.jp-current-time {
	margin-top: 10px;
	margin-left: 10px;
}
div.jp-video div.jp-duration {
	margin-top: 10px;
	margin-right: 10px;
}

/* @end */

/* @group playlist */

div.jp-title {
	font-weight: bold;
	text-align: center;
	color: #FFF;
	
	background-color: rgba(0,0,0,0) !important;
	font-size:0.7em;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: auto;

	position: relative;
	top: 70px !important;;
	width: auto !important;
	white-space: nowrap;
}

div.playing_info {
	position: absolute;
	left: 110px;
	top: 10px;
	font-size: 1.5em;
	font-family: 'Verdana',Arial,sans-serif;
	color: rgb(153, 153, 153);
	width: 300px;
	z-index: 9999;
}

div.playing_artist {
	font-size:0.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.playing_artist a {
	text-decoration: none;
}

div.playing_title {
	font-size:0.7em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.playing_title a {
	text-decoration: none;
}

div.playing_features {
	position: absolute;
	top: 60px;
	font-size:0.5em;
}

div.playing_lyrics {
	position: relative;
        display: inline;
}

div.playing_lyrics a {
	color: rgb(238, 238, 238);
	text-decoration: none;
}

div.playing_actions {
	position: relative;
        display: inline;
}

div.playing_actions div {
    display: inline-block;
}

div.waveform {
    position: absolute;
    top: 50px;
    left: 40px;
    height: 32px;
    visibility: hidden;
}

div.waveform a {
    cursor: crosshair;
}
.waveform-shouts {
    float: left;
    display:inline;
}

div.waveform-time {
    position: absolute;
    display: block;
    height: 100%;
    width: 0px;
    border-left: 1px solid #ffcaca;
    left: 0px;
}

div.jp-title,
div.jp-playlist {
	top: 0px;
	right: 0px;
	width: 25%;
	height: 95%;
	overflow: auto;
	/*background-color: #343433;*/
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	z-index: 9999;
    opacity: 0.9;
	position: absolute;
}
div.jp-type-single div.jp-title,
div.jp-type-playlist div.jp-title,
div.jp-type-single div.jp-playlist {
	border-top: none;
}
div.jp-title ul,
div.jp-playlist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: .62em;
}

div.jp-title li {
	padding: 5px 0;
	font-weight: bold;
}
div.jp-playlist li {
	padding: 6px 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

div.jp-playlist li div {
	display: inline;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

div.jp-type-playlist div.jp-playlist li:last-child {
	border-bottom: none;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	padding-left: 20px;
}
div.jp-type-playlist div.jp-playlist a {
	color: #BBB;
	text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
	color: #FFF;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color: #FFF;
	font-weight: bold;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
	float: right;
	display: inline;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
	color: #666;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
	color: #FFF;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media {
	float: right;
	display: inline;
	text-align: right;
	margin-right: 10px;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a{
	color: #666;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{
	color: #FFF;
}
span.jp-artist {
	font-size: .8em;
	color: #666;
}

/* @end */

div.jp-video-play {
	width: 100%;
	overflow: hidden; /* Important for nested negative margins to work in modern browsers */
	cursor: pointer;
	background-color: rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}
div.jp-video-270p div.jp-video-play {
	margin-top: -270px;
	height: 270px;
}
div.jp-video-360p div.jp-video-play {
	margin-top: -360px;
	height: 360px;
}
div.jp-video-full div.jp-video-play {
	height: 100%;
}
a.jp-video-play-icon {
	position:relative;
	display:block;
	width: 112px;
	height: 100px;

	margin-left: -56px;
	margin-top: -50px;
	left: 50%;
	top: 50%;

	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.video.play.png") 0 0 no-repeat;
	text-indent: -9999px;
}
div.jp-video-play:hover a.jp-video-play-icon {
	background: url("../../img/jquery-jplayer-midnight-black/jplayer.midnight.black.video.play.png") 0 -100px no-repeat;
}





div.jp-jplayer audio,
div.jp-jplayer {
	width: 0;
	height: 0;
}

div.jp-jplayer {
	background-color: #000000;
    position: absolute;
    z-index: 9999;
}

div.jp-jplayer-audio {
    top: 10px;
    left: 20px;
}





/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}

div.jp-audio .jp-type-single ul.jp-toggles {
	width: auto;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -14px;
}
div.jp-audio .jp-type-playlist ul.jp-toggles {
	width: auto;
	margin: 0;
	position: absolute;
	right: 15px;
	top: 22px;
}

div.jp-video ul.jp-toggles {
	width: auto;
	position: absolute;
	right: 15px;
	top: 6px;
}

ul.jp-toggles li {
	display: block;
	float: right;
}

ul.jp-toggles li a {
	display: block;
	width: 28px;
	height: 28px;
	text-indent: -9999px;
	line-height: 100%; /* need this for IE6 */
}

a.jp-full-screen {
	background-position: 0 -317px;
	margin-left: 20px;
}

a.jp-full-screen:hover {
	background-position: -30px -317px;
}

a.jp-restore-screen {
	background-position: -60px -317px;
	margin-left: 20px;
}

a.jp-restore-screen:hover {
	background-position: -90px -317px;
}

a.jp-repeat {
	background-position: 0 -289px;
}

a.jp-repeat:hover {
	background-position: -30px -289px;
}

a.jp-repeat-off {
	background-position: -60px -289px;
}

a.jp-repeat-off:hover {
	background-position: -90px -289px;
}

a.jp-shuffle {
	background-position: 0 -262px;
	margin-left: 5px;
}

a.jp-shuffle:hover {
	background-position: -30px -262px;
}

a.jp-shuffle-off {
	background-position: -60px -262px;
	margin-left: 5px;
}

a.jp-shuffle-off:hover {
	background-position: -90px -262px;
}

/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
	padding: 5px;
	font-size: .67em;
	color: #CCC;
	display: none;
	text-align: center;
}

.jp-no-solution a {
	color: #CCC;
}

.jp-no-solution span {
	font-size: 1em;
	display: block;
	text-align: center;
	font-weight: bold;
}

.jp-close {
    font-size: 0.67em;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.jp-close a{
    color: #CCC;
    z-index: 9999;
}

#webplayer-minimize {
    font-size: 0.67em;
    text-align: left;
    position: fixed;
	display: none;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

#webplayer-minimize a{
    color: #CCC;
    z-index: 10000;
}

.player_actions {
    position: absolute;
    top: 2px;
    margin-right: 2px;
    right:25%;
    font-size: 0.67em;
    width: 60px;
    height: 95px;
    text-align: right;
    display: inline;
    opacity: 0.4;
}

.player_actions:hover{
    opacity: 1;
}

.action_button {
    display: inline-block;
}

.broadcast {
}

.broadcast-info {
	display: inline;
}

.broadcast-action {
	display: inline;
}

.slideshow {
}

#webplayer {
    position: fixed;
    z-index: 9999;
    display: none;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

/* @end */

/**
Copyright (c) 2012 Marco Pegoraro, http://movableapp.com/

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


WHERE TO FIND MEDIA TABLE:
https://github.com/thepeg/MediaTable
http://consulenza-web.com/jquery/MediaTable/
http://www.consulenza-web.com/2012/01/mediatable-jquery-plugin/

**/







/* -----[[     S T R U C T U R E     ]]------------ */


/**
 * Structural Style
 */
.mediaTable {
	width:100%;
	border-collapse:collapse;
}

.mediaTableWrapper {
	position: relative;
}

.mediaTableWrapperWithMenu {
	padding-top:1.2em;
}


.mediaTableMenuClosed ul {
	display:none;
}



/**
 * Active Media Table Rules
 * theese rules are applied to a table activated by the jQuery plugin.
 */

.activeMediaTable th, .activeMediaTable td {
	display: none;
}

.activeMediaTable th.essential, .activeMediaTable td.essential {
	display: table-cell;
	_display:block; /* IE6 Hack */
}

/* IE7 Hack */
*+html .activeMediaTable th.essential, *+html .activeMediaTable td.essential { display:block }








/* -----[[     B R E A C K      P O I N T S     ]]------------ */

.mediaTableWrapper.gt500 th.optional, .mediaTableWrapper.gt500 td.optional {
    display: table-cell;
}
.mediaTableWrapper.gt700 th, .mediaTableWrapper.gt700 td {
    display: table-cell;
}

/* -----[[     T H E M I N G     ]]------------ */

/**
 * Table Style
 */
table.mediaTable thead th {
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
	color: #888;
}

table.mediaTable th, table.mediaTable td {
	padding: .5em 1em;
	text-align: right;
}

table.mediaTable th:first-child, table.mediaTable td:first-child {
	text-align: left;
}

table.mediaTable tbody th, table.mediaTable td {
	border-bottom: 1px solid #e6e6e6;
}


/**
 * Menu Style
 */

.mediaTableMenu {
	position:absolute;
    top: 0;
	right:0;
    z-index: 9999;
}

.mediaTableMenu a {
	display: inline-block;
	cursor:pointer;
	font-size: 0.8em;
    
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	
}

.mediaTableMenu ul {
	list-style-position:outside;
	list-style:none;
	margin:0;
	padding:0 0.5em;
    background-color: #444;
}

.mediaTableMenuClosed a {
	border-radius:5px;
}

.mediaTableMenu ul li {
	line-height: 2em;
}

.mediaTableMenu ul li label {
	cursor:pointer;
}







/**
  * Rhinoslider 1.05
  * http://rhinoslider.com/
  *
  * Copyright 2014: Sebastian Pontow, Rene Maas (http://renemaas.de/)
  * Dual licensed under the MIT or GPL Version 2 licenses.
  * http://rhinoslider.com/license/
  */
.rhino-btn {
	background:url(../img/rhinoslider-sprite.png) 0 0 no-repeat;
	z-index:10;
	width:56px;
	height:53px;
	display:block;
	text-indent:-999%;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-prev, .rhino-next { bottom:-4px; }

.rhino-prev {
	left:-6px;
	background-position:-168px 0;
}

.rhino-next {
	right:-6px;
	background-position:-106px 0;
}

.rhino-prev:hover { background-position:-168px -53px; }

.rhino-next:hover { background-position:-106px -53px; }

.rhino-toggle {
	top:-4px;
	left:-6px;
}

.rhino-play { background-position:0 0; }

.rhino-play:hover { background-position:0 -53px; }

.rhino-pause { background-position:-56px 0; }

.rhino-pause:hover { background-position:-56px -53px; }

.rhino-container { position:relative; }

.rhino-caption {
	position:absolute;
	background: #000;
	display:none;
	left:0;
	right:0;
	top:0;
	color:#fff;
	padding:10px;
	text-align:right;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-bullets {
	position: absolute;
	bottom: -3px;
	left: 50%;
	margin:0 0 0 -50px;
	z-index: 10;
	background: #fff;
	padding:0;
}

.rhino-bullets:before, .rhino-bullets:after {
	position:absolute;
	display:block;
	left:-16px;
	content:' ';
	width:16px;
	height:26px;
	background:url(../img/rhinoslider-sprite.png) -224px 0 no-repeat;
}

.rhino-bullets:after {
	left:auto;
	right:-16px;
	background-position: -240px 0;
}

.rhino-bullets li {
	float:left;
	display:inline;
	margin:0 2px;
}

.rhino-bullets li a.rhino-bullet {
	display: block;
	width: 16px;
	height: 15px;
	cursor: pointer;
	background: white;
	font-size: 10px;
	text-align: center;
	padding: 6px 0 5px 0;
	color: #333;
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
	color:#999;
	background:#eee;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
	color:#fff;
	background:#5cd4e8;
}