@import "~/stylus/color.styl"

.artistDisplayContainer
  background-color colorGray800
  border-radius 5px

  .artistDisplay
    display flex
    text-align center
    flex-direction column
    align-items: center

  .imageContainer
    position relative
    display flex
    border 1px solid transparent
    transition 0.2s border
    max-width 160px
    margin-top 5px

    img
      width 100%
      height 100%
      border-radius 50%

  .artistName
    hyphens: auto;
    margin-top 8px
    margin-bottom: 10px
    font-weight 700

  .rating
    margin-top 8px