@import "~/stylus/settings/color.styl"

.artistDisplayContainer
    background-color colorGray800
    border-radius 5px

.artistDisplay
    display flex
    text-align center
    flex-direction column
    align-items: center

    @media (any-hover: hover)
        &:hover
            .artistName
                color linkHoverColor

.imageContainer
    position relative
    display block
    width: 100%
    max-width 160px

    &:after
        content ''
        display block
        padding-bottom 100%

    img
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover
        border-radius 50%
        padding 5px

.artistName
    hyphens: auto;
    margin-top 8px
    margin-bottom: 10px
    font-weight 700

.rating
    margin-top 8px