.card
    background-color colorGray800
    border-radius: 5px
    overflow hidden

.card-title
    color cardTitleColor

.card,
.card-clear
    @media (any-hover: hover)
        &:hover
            box-shadow 0 0 0 2px colorAmber800


