.icon
    display: inline-block

    @media (any-hover: hover)
        &:hover
            color colorAmber500

.icon-inline //icon 16px
    width 16px
    height 16px

.icon-button //icon 24px with padding for touch area
    width 42px
    height 42px
    padding 9px
    cursor pointer

.icon-button-small //icon 20px with padding for touch area
    width 38px
    height 38px
    padding 9px
    cursor pointer

.icon-button-smallest //icon 16px with padding for touch area
    width 38px
    height 38px
    padding 11px
    cursor pointer


