.icon
    display: inline-block

.icon-inline //icon 16px
    width 16px
    height 16px
    display: inline-block

.icon-button //icon 24px with padding for touch area
    width 42px
    height 42px
    padding 9px
    display: inline-block
    cursor pointer

.icon-button-small //icon 20px with padding for touch area
    width 38px
    height 38px
    padding 9px
    display: inline-block
    cursor pointer

.icon-button-smallest //icon 16px with padding for touch area
    width 38px
    height 38px
    padding 11px
    display: inline-block
    cursor pointer


