.nowPlaying.nowPlaying // increase specificity without resorting to !important
    background-color colorAmber900

    *
        color colorAmber100

    @media (any-hover: hover)
        a:hover
            color colorAmber300

        .icon:hover
            fill colorAmber300