/******************************************************************************

	This file styles the bar that goes across the top of all Xiph.Org
	pages.
	
	The style that comes from this was first (to my knowledge) at
	http://alistapart.com/stories/practicalcss/ in the
	"Splitting the Difference" section.

******************************************************************************/

/* This effect doesn't work at all if all content is pinched in a bit. */
html, body {
	margin: 0;
	padding: 0;
    color: white !important; 
    background: black;
}

.xiphnav {
	font-family: Verdana, sans-serif;
	font-weight: normal;
	padding:    .25em;
	margin-bottom:  .5em;
	border-bottom:  1px solid #000;
	color: #000;
	background: #aaa;
}
.nav h1 {
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 300%;
	color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 90px;
    height: 70px;
    background: url(/images/icecast.png) no-repeat left center;
}
.nav {
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
}
.nav a {
    color: white;
	text-decoration: none;
}
.nav a:hover {
	color: #f8ef64;
}
.xiphnav_a {
    text-decoration: none;
    font-weight: normal;
    color: #000;
}
.main {
	font-family: Verdana, sans-serif;
	background-color: #000;
	margin-left: 50px;
	width: 90%;
}
.main h1 {
	text-decoration: none;
	font-weight: bold;
	font-size: 300%;
	color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: url(/images/icecast.png) no-repeat left center;
}
.main iframe {
    width: 100%;
    border: 0;
}
.news {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}
.newsheader {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 110%;
    color: #f8ef64;
    background: #444;
}
.streamtd {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 85%;
    color: #fff;
    padding:15px;
}
.streamtd_alt {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 85%;
    color: #fff;
}

.streamtd_alt_2 {
    font-family: Verdana, sans-serif;
    text-decoration: underline;
    font-weight: normal;
    font-size: 85%;
    color: #fff;
}

td {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}
.roundcont {
	background-color: #656565;
	color: #fff;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}
.roundcont table{
    border: none;
    border-collapse: collapse;
}

.newscontent {
	margin: 0 20px;
}
h3 {
	margin: 0px;
    padding: 0px;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
	color: #f8ef64;
}
.newscontent h3 {
    margin-bottom: 10px;
    border-bottom: 1px groove #ACACAC;
}
.newscontent h4 {
	margin: 10px 0px;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
	color: #f8ef64;
}
.newscontent p {
	margin: 0 0;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 90%;
}
.newscontent td {
	margin: 0 0;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 90%;
}
.newscontent td.streamdata {
	margin: 0 0;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 90%;
    color: #f8ef64;
}
.streamheader table {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px groove #ACACAC;
}
.streamheader td {
    margin: 0px;
    padding: 6px 0px;
    border: 0px solid cyan;
}
.streamheader h3 {
    margin: 0px;
    border: 0px solid blue;
    vertical-align: lower;
}
.streamheader a {
    padding: 8px 5px 3px 30px;
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    background: transparent url("/images/tunein.png") no-repeat left center;
}
.streamheader a.auth {
    margin: 0px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: transparent url("/images/key.png") no-repeat left center;
}
.newscontent a {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #f8ef64;
}
.newscontent a:hover {
    font-family: Verdana, sans-serif;
    color: #fff;
}
.newscontent a.nav2 {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 9px;
    background: #444;
    color: #f8ef64;
}
.newscontent a.nav2:hover {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    background: #777;
    font-weight: bold;
    color: #fff;
}
.poster {
	font-family: Verdana, sans-serif;
    margin: 50px 0px 20px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	text-decoration: none;
	font-size: 100%;
    font-weight: bold;
	color: #f8ef64;
	border-top: 1px groove #ACACAC;
}
.poster a {
	color: white;
	text-decoration: none;
}

.nav body {
    color: white;
    background-color: #656565;
}
.nav a {
    margin: 15px;
    padding: 0px;
}
.nav table {
    font-size: 110%;
    text-align: center;
    border: none;
}
.roundtop { 
	background: url(images/corner_topright.jpg) no-repeat top right; 
}

.roundbottom {
	background: url(images/corner_bottomright.jpg) no-repeat top right; 
}

.banner td {
    font-size: 150%;
    vertical-align: top;
}
td.topleft {
    background: url("images/corner_topleft.jpg") no-repeat top left;
    height: 15px;
    width: 15px;
}
td.topright {
    background: url("images/corner_topright.jpg") no-repeat top right;
    height: 15px;
    width: 15px;
}
td.bottomleft {
    background: url("images/corner_bottomleft.jpg") no-repeat bottom left;
    height: 15px;
    width: 15px;
}
td.bottomright {
    background: url("images/corner_bottomright.jpg") no-repeat bottom right;
    height: 15px;
    width: 15px;
}

img.corner {
	width: 15px;
	height: 15px;
	border: none;
	display: block !important;
}
