@import "~/stylus/sizes.styl"
@import "~/stylus/color.styl"

.currentPlaying
  // position relative // intentionally commented out to bypass overflow rule of parent
  min-width: 0; // prevents grid blowout
  display flex
  align-self: center
  grid-column: 2 / 8;
  grid-row: 1;
  overflow hidden

  @media all and (min-width: size-small)
    grid-column: 2;
    grid-row: 1;
    align-self end

  @media all and (min-width: size-large)
    grid-column: 3 / 4;
    grid-row: 1;
    margin-bottom 5px
    

  .info
    overflow hidden

  .songName
    font-weight 700
    text-overflow ellipsis
    overflow hidden
    white-space: nowrap

  .albumName
    text-overflow ellipsis
    overflow hidden
    white-space: nowrap
    color colorGray400

  .artistName
    text-overflow ellipsis
    overflow hidden
    white-space: nowrap
    color colorGray400


