@import "~/stylus/sizes.styl"
@import "~/stylus/color.styl"

.currentPlaying
  position relative
  width 100%
  display flex
  max-width: 100%
  min-width: 0; // magically prevents long text from expanding the grid 1fr
    
  @media all and (min-width: size-small)
    grid-column: 1;
    grid-row: 1 / 3;

  @media all and (min-width: size-large)
    grid-column: 1;
    grid-row: 1 / 3;

  .info
    // position relative // intentionally commented out to bypass overflow rule of parent
    display flex
    flex-direction column
    justify-content center
    padding-left 10px
    overflow hidden

  .songName
    font-weight 700
    text-overflow ellipsis
    overflow hidden
    white-space: nowrap

  .albumName
    text-overflow ellipsis
    overflow hidden
    white-space: nowrap
    color colorGray400

  .artistName
    text-overflow ellipsis
    overflow hidden
    white-space: nowrap
    color colorGray400

  .albumArt
    width 64px
    height 64px
    background-color colorGray500
    flex-shrink 0

    @media all and (min-width: size-small)
      width 96px
      height 96px
      margin: 3px
      border-radius 2px

    img
      height 100%


