.button
  outline none
  border none
  width 100%
  border-radius 2px
  &.large
    font-size 32px
    padding 15px
  &.medium
    font-size 24px
    padding 10px
  &.green
    background-color green
    color white