@import "~/stylus/settings/sizes"

.container
    position relative
    display flex
    flex 1
    flex-direction: row
    overflow: hidden

.content
    flex 1
    position relative

.contentInner
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
