.accountInfo
    margin 30px 0
    width 20%
    min-width: 300px;
    display flex
    flex-direction column

    form
        display flex
        flex-direction column

        input
            margin 2px 0