.contextMenu
  background-color rgba(0, 0, 0, 0.6)
  outline none
  z-index 999
  [role="menuitem"]
    color white
    padding 5px 20px
    border-bottom 1px solid bodyBackgroundColor
    display block
    cursor pointer
    &:hover, &:focus
      background-color linkHoverColor
      color black