@import "~/stylus/color.styl"
@import "~/stylus/presentation.styl"

.contextMenu
  background-color colorGray700
  outline none
  z-index 999
  border-radius 3px
  box-shadow: shadow-md
  padding 3px 0

  [role="menuitem"]
    padding 10px 15px
    display block
    cursor pointer

    @media (any-hover: hover)
      &:hover 
        color: colorAmber500