.currentPlaying
  height musicPlayerHeight
  width 100%
  display flex
  .info
    display flex
    flex-direction column
    color white
    font-size 22px
    justify-content center
  .songName, .artistName
      margin 5px 0 5px 8px
    .artistName
      color #9b9b9b
  .albumArt
    width musicPlayerHeight
    height musicPlayerHeight
    background-color #555555
    img
      height 100%
