@import "../color"

.musicControl
  flex-shrink: 0;
  background-color colorGray800
  border-top 2px solid colorGray900
  // display grid
  align-items center
  // height musicPlayerHeight
  // grid-template-columns 1fr 1fr 1fr
  // z-index 100

  .controls
    display flex
    width 100%
    flex-direction column
    justify-self center
    .buttons
      margin-top 20px
      display flex
      justify-content space-between
      cursor pointer
      img
        width 42px
        min-width 42px
        padding 9px
      .disabled
        pointer-events none
        color colorGray600
  .volumeSide
    display flex
    justify-content space-around
    padding-bottom 1.5rem //temp until vol gets redone
    .queueIcon
      height 42px
      padding 9px
      img
        height 100%
        // filter invert(.8) //TODO: Replace this image
    .input-range
      width 50%
      @media all and (max-width: 800px)
        display none