.musicControl
  position: fixed;
  bottom: 0;
  background-color: gray;
  display: flex;
  width: calc(100% - 210px);
  right: 0;
  align-items center
  height musicPlayerHeight
  .controls
    display flex
    .disabled
      pointer-events none
      filter grayscale(1)
  .seekBar
    width 300px
    height 50px
    background-color darkgray
    .filled
      height 100%
      background-color linkHoverColor
      width 0