.musicControl
  position fixed
  bottom 0
  background-color rgba(16, 16, 16, 0.9)
  display grid
  width 100%
  right 0
  align-items center
  height musicPlayerHeight
  grid-template-columns 1fr 1fr 1fr
  .controls
    display flex
    width 50%
    flex-direction column
    justify-self center
    .buttons
      display flex
      justify-content center
      img
        width 32px
      .disabled
        pointer-events none
        filter grayscale(1)
  .volumeSide
    display flex
    justify-content space-around
    .queueIcon
      height 32px
      img
        height 100%
        filter invert(.8) //TODO: Replace this image
    .input-range
      width 50%
      @media all and (max-width: 800px)
        display none