.songRow
  background-color #4d4d4d
  display grid
  justify-content space-between
  border 1px solid transparent
  cursor pointer
  height 45px
  grid-template-columns 30px 30px 1fr 1fr 1fr 1fr
  text-align center
  align-items center
  .verticalMenu
    width 8px
    background-image url('/images/icons/svg/menu-verticle.svg')
    background-size contain
    background-repeat no-repeat
    height 25px
    justify-self center
    align-self center
    &:hover
      filter invert(1)
  .heartIconWrapper
    width 100%
    margin-right: 10px;
    &.fav
      filter: invert(66%) sepia(95%) saturate(2455%) hue-rotate(359deg) brightness(101%) contrast(107%);
      &:hover
        filter none
    &:not(.fav):hover
      filter: invert(66%) sepia(95%) saturate(2455%) hue-rotate(359deg) brightness(101%) contrast(107%);
    img
      width 100%
  .title
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
    flex 4
  .time
    text-align right
    flex 1
  &:nth-child(odd)
    background-color #333
  &:hover
    color linkHoverColor
    border 1px solid linkHoverColor
  &.playing
    color currentlyPlayingColor
    border 1px solid navajowhite