.songRow
  background-color #4d4d4d
  padding 10px
  display flex
  justify-content space-between
  border 1px solid transparent
  cursor pointer
  & > :first-child
    text-align left
  *
    flex 1
  & > :last-child
    text-align right
  &:nth-child(odd)
    background-color #333
  &:hover
    color linkHoverColor
    border 1px solid linkHoverColor
  &.playing
    color currentlyPlayingColor
    border 1px solid navajowhite