.Toastify
    .Toastify__toast
        border-radius 5px
        padding 10px

    .Toastify__toast--success
        background-color colorLime800
        color colorLime100

    .Toastify__progress-bar--success
        background-color colorLime500

    .Toastify__toast--error
        background-color colorRed800
        color colorRed100
        
    .Toastify__progress-bar--error
        background-color colorRed500