@import "~stylus/settings/sizes.styl"
@import "~stylus/settings/color.styl"

.ratings
    display: flex
    align-items: center
    padding: inherit

.heartIcon
    cursor: pointer
    margin-left: 8px

    &.active
        fill colorRed500

.starIcon
    fill inherit

    &.active
        fill colorAmber500

.cancelIcon
    transform scale(0.9)
    cursor: pointer

:global .MuiRating-root.MuiRating-root
    color inherit
    fill currentColor
