#uberviz {
    visibility: hidden;
}

#uberviz #viz {
	position:absolute;
	background-color: #000;
}

#uberviz #controls{
	position:absolute;
	background-color: #000;
	top: 0px;
	right:0px;
	width:250px;
	height:100%;
	display:none;
}

#uberviz #preloader{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top:-20px;
	background:url(loader.gif) center center no-repeat;
}

#uberviz #debugText{
	position:absolute;
	background-color: #000;
	height: 38px;
	width:150px;
	top:0px;
	right: 80px;
	padding:10px;
	font-size: 16px;
	padding-top: 15px;
}

#uberviz #stats{
	position:absolute;
	background-color: #003;
	right:0;
	top:0;
}

#uberviz #audioDebug{
	position:absolute;
	background-color: #000;
	width: 250px;
	top:0px;
	right:0px;
    opacity: 0.9;
}

#uberviz #settings{
	position:absolute;
	background-color: #003;
	top: 248px;
}

#uberviz #info{
	position:absolute;
	left: 20px;
	bottom: 20px;
	line-height: 20px;
}

#uberviz a {
	color: #fff;
	text-decoration: none;	
	border-bottom:thin dotted #999;			
}


