@import "~/stylus/settings/color.styl"

.album
    display flex
    flex-direction: column

.imageContainer
    max-width: 200px
    margin 0 auto

    img
        border-radius 3px

.details
    display: flex
    flex-direction column
    text-align: center
    margin-bottom 10px
    color colorGray300

.albumName
    font-size 20px
    line-height: 1.2
    margin-bottom: 5px
    font-weight 700

.albumMeta
    color colorGray500

.rating
    margin 0 auto
    padding: 5px 0