@import "~/stylus/settings/color.styl"
@import "~/stylus/settings/sizes.styl"

.songRow
    border-radius: 3px
    cursor pointer
    display flex
    flex-direction row
    justify-content space-between
    height 38px
    &.songLoading
        align-items center

.songActions
    display flex
    align-items center
    margin-left auto
    flex 1

    @media all and (max-width: size-small)
       display none

.songDetails
    align-items center
    overflow hidden
    position relative
    display flex
    flex 4


.trackNumber
    display inline-block
    vertical-align bottom
    padding 0 10px

    &:after
        content '.'
        display inline-block


.title
    display inline-block
    vertical-align bottom
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
    font-weight 700

.albumContainer
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

.artistContainer
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

.title,
.albumContainer,
.artistContainer {
    flex: 1
    margin-right 10px
}

.time
    text-align right
    min-width 10ch
    position absolute
    top 10px
    right 10px

    @media all and (min-width: size-medium)
        position relative
        top initial
        right initial
        margin-left auto;
        padding-left 10px


