@import "~/stylus/settings/color.styl"
@import "~/stylus/settings/sizes.styl"

.songRow
    border-radius: 3px
    cursor pointer
    display flex
    flex-direction column
    justify-content space-between
    color colorGray400

    @media all and (min-width: size-medium)
        flex-direction row

    @media (any-hover: hover)
        &:hover
            box-shadow 0 0 0 2px colorAmber800

.songActions
    display flex
    align-items center
    margin-left auto

    @media all and (min-width: size-medium)
        & > *
            margin-left 10px

.songDetails
    padding 10px 10px 0 10px
    overflow hidden
    position relative

    @media all and (min-width: size-medium)
        display flex
        flex-direction row
        width 100%

.trackNumber
    display inline-block
    vertical-align bottom
    margin-right 10px

    &:after
        content '.'
        display inline-block

    @media all and (min-width: size-medium)
        min-width 3ch
        text-align right

.title
    display inline-block
    vertical-align bottom
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
    font-weight 700
    color cardTitleColor

.albumContainer
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

.artistContainer
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

.title,
.albumContainer,
.artistContainer {
    flex: 1
    margin-right 10px
}

.time
    text-align right
    min-width 10ch
    position absolute
    top 10px
    right 10px

    @media all and (min-width: size-medium)
        position relative
        top initial
        right initial
        margin-left auto;
        padding-left 10px


