@import "~stylus/settings/color.styl"

.song
    display flex
    align-items center
    cursor pointer
    margin 5px
    border-radius 3px
    overflow hidden

    @media (any-hover: hover)
        &:hover
            .songName
                color linkHoverColor

.imageWrapper
    flex-shrink 0
    padding 2px

    img
        border-radius 2px
        width 50px
        height 50px

.details
    flex 1
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    padding-left 0.5rem

.songName
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

.albumArtist
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

.actions
    padding-right 5px
    flex-shrink 0
