headerHeight = 64px
sidebarWidth = 180px
queueBarWidth = 280px

// Breakpoints
size-micro    = 480px
size-small    = 640px
size-medium   = 768px
size-large    = 1024px
size-x-large  = 1280px
size-2x-large = 1536px