@import "~stylus/settings/color"

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('/fonts/noto-sans-v11-latin-regular.woff2') format('woff2'),
            url('/fonts/noto-sans-v11-latin-regular.woff') format('woff');
}

/* noto-sans-italic - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
            url('/fonts/noto-sans-v11-latin-italic.woff2') format('woff2'),
            url('/fonts/noto-sans-v11-latin-italic.woff') format('woff');
}

/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
            url('/fonts/noto-sans-v11-latin-700.woff2') format('woff2'),
            url('/fonts/noto-sans-v11-latin-700.woff') format('woff');
}

/* noto-sans-700italic - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: local(''),
            url('/fonts/noto-sans-v11-latin-700italic.woff2') format('woff2'),
            url('/fonts/noto-sans-v11-latin-700italic.woff') format('woff');
}

/* rajdhani-regular - latin */
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('/fonts/rajdhani-v10-latin-regular.woff2') format('woff2'),
            url('/fonts/rajdhani-v10-latin-regular.woff') format('woff');
}

/* rajdhani-700 - latin */
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    src: local(''),
            url('/fonts/rajdhani-v10-latin-700.woff2') format('woff2'),
            url('/fonts/rajdhani-v10-latin-700.woff') format('woff');
}

fontBody = 'Noto Sans', system-ui, Helvetica, Arial, sans-serif
fontHeading = 'Rajdhani', system-ui, Helvetica, Arial, sans-serif

body
    color: colorGray300
    font-family fontBody
    font-size 12px
    font-weight 400
    line-height: 1.4

h1, h2, h3, h4, h5, h6
    color colorAmber500
    font-family fontHeading
    font-size 14px
    font-weight 700
    text-transform uppercase
    letter-spacing 0.05em