@import "~stylus/sizes.styl"
@import "~stylus/color.styl"

.sidebar
  width: 180px
  border-right 2px solid colorGray900
  font-size 13px
  background-color colorGray800
  padding-top 20px
  padding-bottom 20px
  flex-shrink: 0;
  overflow: hidden
  will-change: transform
  
  position: absolute
  top 0;
  left 0
  bottom: 0
  z-index: 100
  display: flex;

  @media all and (min-width: toggleDesktop)
    position: static;
    transform none !important;

    &:not(.queueBar)
      // display none

  section
    padding-bottom 10px    

  section + section {
    border-top 2px solid colorGray700
    padding-top 20px
  }
    
  a
    display block
    padding 0 20px
    margin-top 3px
    line-height 42px

  h4
    display inline
    font-size 15px
    padding 0 20px
    line-height: 1.5

  form
    display flex
    flex-direction column
    padding-top 5px
    
  input, select
    width 75%
    margin 5px 0

.sidebarInner
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: inherit

