@import "~stylus/sizes.styl"
@import "~stylus/color.styl"

.sidebar
  width sidebarWidth
  min-height 100%
  font-size 13px
  background-color colorGray800
  padding-top 20px
  padding-bottom 20px

  @media all and (max-width: 700px)
    &:not(.queueBar)
      display none
      
  section
    padding-bottom 10px    

  section + section {
    border-top 2px solid colorGray700
    padding-top 20px
  }
    
  a
    display block
    padding 0 20px
    margin-top 3px
    line-height 42px

  h4
    display inline
    font-size 15px
    padding 0 20px
    line-height: 1.5

  form
    display flex
    flex-direction column
    padding-top 5px
    
  input, select
    width 75%
    margin 5px 0

