/*
# CUSTOMIZE THIS CSS FILE HERE

# the following line changes the font to Comic Sans MS
# if you dont have that font on linux check out http://corefonts.sourceforge.net/
# or on debian i use the package msttcorefonts
# if you dont like your fonts overridden at all comment out the first line and uncomment the second one
$font = "Comic Sans MS, " . conf('font');


# customize the main border here
$border = "outset 5pt";

# this is the thin inside border on the top and left side of the main border
$relief_border = "solid 1pt " . conf('bg_color2');

# this is the border on the active_nav item
$relief_border2 = "solid 1pt " . conf('row_color1');
*/
	body	
		{ 
		background: #06c7ee; 
		font-family: Comic Sans MS; 
		font-size: 12px; 
		color: #000000;
		}

	p	
		{ 
		color: #000000; 
		font-family: Comic Sans MS; 
		font-size: 12px; 
		}
	a
		{ 
		color: #0000ee; 
		font-family: Comic Sans MS; 
		text-decoration: none;
		}
	a:visited 
		{ 
		color: #551a8b; 
		font-family: Comic Sans MS; 
		text-decoration: none;
		}
	a:hover	
		{ 
		color: #000000; 
		font-family: Comic Sans MS; 
		text-decoration: underline;
		}
	 table a:hover
		{ 
		color: #06c7ee; 
		font-family: Comic Sans MS; 
		text-decoration: underline;
		}
	a:active  
		{ 
		color: #000000; 
		font-family: Comic Sans MS; 
		text-decoration: none;
		}
	.border 
		{ 
		background:#ef9494; 
		border-collapse: separate;
		border: <?php echo "$border " . conf('row_color1'); ?>;
		border-spacing: 0pt;
		}
	.border tr td:first-child
		{
		# this is the one thats put the border down the left side;
		border-left: solid 1pt #06c7ee;
		}
	.border tr table tr td:first-child
		{
		# gets rid of funkyness on left side in albums.php;
		border-left: solid 0pt #ef9494;
		}
	.border .even:first-child td
		{
		# adds line on top in albums.php;
		border-top: solid 1pt #06c7ee;
		}
	.border .even .even:first-child td
		{
		# removes extra line from random play on index.php;
		border-top: solid 0pt #ef9494;
		}
	.border .even:first-child tr td 
		{
		# gets rid of double line on top in albums.php;
		border-top: solid 0pt #ef9494;
		}
	.login
		{ 
		background:#ef9494; 
		border-collapse: separate;
		border: <?php echo "$border " . conf('row_color1'); ?>;
		border-spacing: 0pt;
		}
	.table-header
		{
		background: #f0b3b3 ;
		vertical-align: top;
		}
	.table-header td
		{
		border-bottom: solid 1pt #06c7ee;
		border-top: solid 1pt #06c7ee;
		text-align: center;
		}
	.table-header  th
		{
		border-bottom: solid 1pt #06c7ee;
		border-top: solid 1pt #06c7ee;
		}
	.table-header  th:first-child
		{
		#border-top: solid 1pt #06c7ee;
		#border-bottom: solid 1pt #06c7ee;
		border-left: solid 1pt #06c7ee;
		}
	.tabledata
		{
		background:#ef9494; 
		border-collapse: separate;
		border: <?php echo "$border " . conf('row_color1'); ?>;
		}
	.tabledata tr td:first-child
		{
		# this line is for the playlist page;
		border-left: solid 1pt #ef9494;
		}
	.text-box 
		{
		padding-left:5px;
		padding-top:5px;
		margin-bottom:10px;
		background: #aab3ff;
		border-collapse: separate;
		border: <?php echo "$border " . conf('base_color1'); ?>;
		}
	.text-box .tabledata
		{
		# these next 2 lines fix the show catalog box;
		border: outset 0pt #aab3ff;
		background: #aab3ff;
		#border-left: solid 0pt #ef9494;
		}
	.text-box .tabledata tr td
		{
		# this line removes a red line from the left of the show catalog box;
		border-left: solid 0pt #ef9494;
		}

/*************** Main Menu *****************/
    #mainmenu {
    	float: left;
	width: 99%;
	margin: 0;
	padding: 0;
	list-style: none;
	border-collapse: separate;
	border: <?php echo "$border " . conf('row_color1'); ?>;
	border-spacing: 0pt;
	background: #f0b3b3 ;
    }
    #mainmenu li {
    	float: left;
	margin: 0;
        padding: 0 20px 0 20px;
        display: inline;
	background: #f0b3b3 ;
	border-top: solid 1pt #06c7ee;
	border-right: solid 1pt #06c7ee;
	text-align: center;
    }
	#mainmenu  li:first-child
		{
		border-left: solid 1pt #06c7ee;
		}
    #mainmenu li.active {
		vertical-align: top;
		text-align: center;
		border: <?php echo "$relief_border2"; ?>;
		background:#ef9494; 
    }
    #mainmenu a {
		color: #0000ee; 
		font-family: Comic Sans MS; 
		text-decoration: none;
    }
    #mainmenu a:hover {
		color: #06c7ee; 
		font-family: Comic Sans MS; 
		text-decoration: underline;
    }
    #mainmenu a:active {
		color: #000000; 
		font-family: Comic Sans MS; 
		text-decoration: none;
    }
/*************** END Main Menu *************/
/*************** Admin Menu *************/
    #adminmenu {
	width: 99%;
    	float: left;
        margin: 0;
        padding: 0;
        list-style: none;
	border-collapse: separate;
	border: <?php echo "$border " . conf('row_color1'); ?>;
	border-spacing: 0pt;
	background: #f0b3b3 ;
    }
    #adminmenu li {
	float: left;
        margin: 0;
        padding: 0 20px 0 20px;
	background: #f0b3b3 ;
	border-top: solid 1pt #06c7ee;
	border-right: solid 1pt #06c7ee;
	text-align: center;
        display: inline;
    }
	#adminmenu  li:first-child
		{
		border-left: solid 1pt #06c7ee;
		}
    #adminmenu li.active {
	vertical-align: top;
	text-align: center;
	border: <?php echo "$relief_border2"; ?>;
	background:#ef9494; 
    }
    #adminmenu a {
        text-decoration: none;
    }
    #adminmenu a:hover {
	color: #06c7ee; 
	font-family: Comic Sans MS; 
	text-decoration: underline;
    }
    #adminmenu a:active {
        color: #000;
    }
/*************** END Main Menu *************/
/*************** Page Header *********************/
    #pageheader {
        background: ;
    }
/*************** END Page Header *****************/

	td	
		{ 
        	padding: 0px 8px 0px 8px;
		color: #000000; 
		font-family: Comic Sans MS; 
		font-size: 12px;
		}
	th
		{
		padding-right: 10px;
		}
	input	
		{
		color: #000000; 
		font-family: <?php echo $font; ?>; 
		font-size: 12px; 
		font-weight: bold; 
		background-color: #f0b3b3; 
		}
	.header1 
		{ 
		color: #000000; 
		font-family: <?php echo $font; ?>; 
		font-size: <?php echo conf('font_size') + 6; ?>px; 
		font-weight: 900;
		}
	.header2
		{
		color: #000000;
		font-family: <?php echo $font; ?>;
		font-size: <?php echo conf('font_size') + 2; ?>px;
		font-weight: 900;
		}
	.navitem
		{
		background: #f0b3b3;
		vertical-align: top;
		text-align: center;
		border: solid 1pt #06c7ee;
		}
	.active_navitem
		{
		background: #ef9494;
		vertical-align: top;
		text-align: center;
		border: <?php echo "$relief_border2"; ?>;
		}
	.odd 
		{
		background:#e1afaf;
		font-size: 12px;
		}
	.even
		{
		background:#f9c1c1;
		font-size: 12px;
		}
 	.error	
		{ 
		color: #990033; 
		}
	.fatalerror
		{
		padding-top: 3px;
		padding-bottom: 3px;
		color: #990033;
                border-right:4px solid #990033;
                border-bottom:4px solid #990033;
                border-left:4px solid #990033;
                border-top:4px solid #990033;		
		font-size: <?php echo conf('font_size')+2; ?>px;
		font-weight: 900;
		text-align: center;
		}
	.alphabet 
		{ 
		font-size: 12px; 
		font-weight: normal; 
		}
