/* vim:set softtabstop=4 shiftwidth=4 expandtab: */
/**
 *
 * LICENSE: GNU General Public License, version 2 (GPLv2)
 * Copyright 2001 - 2013 Ampache.org
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License v2
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *
 */
/*****************************************************************************/
/* Base Definitions, may be overwridden by themes
/*****************************************************************************/

/*****************
 * Tag Definitions
 *****************/

.tag_size1 { 
    font-size:.6em;
} 
.tag_size2 { 
    font-size:.8em; 
} 
.tag_size3 { 
    font-size:1em; 
} 
.tag_size4 { 
    font-size:1.2em; 
} 

a.tag_size1, a.tag_size2, a.tag_size3, a.tag_size4 { text-decoration: none; } 

.hover-add:hover { color: #347C17; } 
.hover-remove:hover { color: #FF0000; } 

/*****************
 * Generic / Misc 
 *****************/
 
.hidden {
    visibility: hidden;
}
 
.item_on { 
    color: #347C17;
}

.item_off { 
    color: #FF0000; 
}

#tabs_wrapper {
	width: auto;
}

#tabs_container {
    padding-bottom: 12px;
    margin-bottom: 20px;
    line-height: 18px;
    border-color: #333;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#tabs li {
	display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin-right: 30px;
}

#tabs li a {
    color: #ff9d00;
    text-decoration: none;
}

#tabs li a:hover {
    color: #ffc466;
    outline: 0;
}

#tabs li.tab_active a {
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
    padding-bottom: 10px;
    color: #fff;
    text-shadow: none;
    border-bottom: 2px solid #666;
}

#tabs_content {
	padding: 10px;
	width: auto;
}

.tab_content {
	display: none;
}

#aslideshow {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    display: none;
}

#aslideshow_container  {
    width: 50%;
    max-height: 600px;
    height: 100%;
    margin: 80px auto;
}

#aslideshow_container .rhino-container {
    width: 100% !important;
    height: 100% !important;
}

#fslider {
    width: 100%;
    height: 100%;
}

.shout {
    clear: float;
    width: 400px;
    height: auto;
    padding-right: 40px;
    padding-bottom: 20px;
}
.shoutbox-item {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: normal;
    position: relative;
}

.shoutbox-data {
    min-height: 75px;
}

.shoutbox-img {
    float: left;
    display:inline;
    padding-right: 10px;
}

.shoutbox-info {
    display:inline;
}

.shoutbox-object {
    font-weight: bold;
}

.shoutbox-date {
    color: #D6D6D6;
}

.shoutbox-text {
    padding-top: 10px;
    word-wrap: break-word;
}

.shoutbox-footer {
    width: 100%;
    padding-top: 5px;
}

.shoutbox-actions {
    display:inline;
}

.shoutbox-user {
    font-size: 10px;
    display:inline;
    text-align: right;
    float: right;
}

.noty_ampache {
    color: #ffffff;
    background-color: #222;
}

.searchart {
    top: 0px;
    left: 0px;
    display: block;
    height: 24px;
    width: 24px;
    margin: 1px 6px;
    padding: 1px;
    border: 1px solid #F2F2F2;
    float: left;
}

.searchitemtxt {
    display:inline-block;
    vertical-align:middle;
    height: 32px;
}

#topmenu_container {
	margin: 10px;
}

#topmenu li {
	float:left;
}

#topmenu div.jqDockWrap {
	margin: 0 auto;
}

#topmenu div.jqDock {
	cursor: pointer;
}

#topmenu img {
	padding:0 40px;
	z-index: 9999;
}