/* vim:set softtabstop=4 shiftwidth=4 expandtab: */
/**
 *
 * LICENSE: GNU General Public License, version 2 (GPLv2)
 * Copyright 2001 - 2013 Ampache.org
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License v2
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *
 */

#html5_player #albumart img
{
    width: 200px;
    float: left;
    margin: 5px;
}
#html5_player #title
{
    padding-top: 5px;
}
#html5_player #artist, #html5_player #album
{
    display: inline;
}
#html5_player #artist:before
{
    content: ' by ';
}  
#html5_player #progress_text  
{
    margin: 10px 0px 10px 0px;
}
#html5_player #stop, #html5_player #play,#html5_player #pause,#html5_player #next,#html5_player #previous,#html5_player #clear_search
{
    display: inline;
    border: thin solid black;
    cursor: pointer;
    padding: 2px;
    margin-right: 5px;
}
#html5_player #playlist
{
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 105px;
    left: 210px;
    right: 5px;
    bottom: 5px;
    padding: 5px 0px;
}
#html5_player #playlist li  
{
    position: relative;
    cursor: pointer;
}
#html5_player #playlist li[data-tooltip]::before {
    content: attr(data-tooltip);
    font-size: 10px;
    position: absolute;
    z-index: 999;
    right: 0px;
    top: 0px;
    padding: 0px 5px;
    opacity: 0;
    transition: opacity 1.4s ease-out;
}
#html5_player #playlist li[data-tooltip]:hover::before {
    opacity: 1;
}
#html5_player #playlist li[data-queue-id]::after {
    content: " [" attr(data-queue-id) "]";
}
#html5_player #playlist li.playing
{
    font-weight: bold;
}
#html5_player #stop.inactive, #html5_player #pause.inactive, #html5_player #play.inactive
{
    display: none;
}
#html5_player #search
{
    top: 61px;
    right: 1px;
    position: absolute;
}
#html5_player #search input
{
    background: transparent;
}
