.requirements {
    padding-top: 20px;
}

.navbar-brand {
    padding-top: 0px;
}

.navbar-brand img {
    height: 48px;
    width: 48px;
	display: inline;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

body {
    margin-bottom: 10px;
}
