.genericError
  text-align center
  .giantSmiley
    font-size calc(54px + 25vh)
    transform: rotate(95deg);
    color #b72626
  .errorMessage
    font-size 54px
    margin-bottom 15px
    padding 0 20px
  .countryRoads
    background-color #f4790c;
    color black
    padding 15px 20px
    border-radius 2px