@import "~/stylus/settings/color.styl"

.playlistItem
    background-color colorGray800
    border-radius: 5px
    display flex
    flex-direction column
    position relative

.details
    padding 10px
    display flex
    align-items: center
    flex-direction column

.name a
    font-weight 700
    text-align: center
    background-color colorGray700
    padding: 3px 10px
    border-radius 999px
    margin-top 2px
    display inline-block

.meta
    text-align: center
    padding-bottom 10px

.itemCount
    font-weight 700

.owner
    color colorGray400

.rating
    padding-top 5px

.actions
    border-top 2px solid colorGray900
    display flex
    flex-direction row
    justify-content: center
    margin-top auto

    img
        width 42px
        padding: 9px
        display: inline-block
