@import "~/stylus/color.styl"

.artistPage
  .artistInfo
    display flex
    flex-direction: column
    align-items: center;

  .imageContainer
    width: 50%
    height: 100%
    display: flex
    align-items: center;
    flex-direction: column
    
    img
      height 100%
      max-width 100%
      max-height: 150px
      display block
      border-radius 9999px
      border 3px solid colorGray700
    
  .name
    font-size 22px
    text-align: center
  .summary
    display none
  .playRandom
    display: none
.albums
  display: grid
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  
.rating
  text-align: center