.artistPage
  h1
    font-size 3vw
    margin 2px
  .artistInfo
    background-color #1a1a1a
    display flex
    min-height 350px
    //padding 30px
    position relative
    .imageContainer
      height 100%
      flex 1
      max-width: 350px
      align-self center
      img
        height 100%
        width 100%
        object-fit contain
        display block
      @media all and (max-width: 1000px)
        position absolute
        z-index 0
        width 100%
        background-color black
        max-width initial
        img
          object-fit cover
          opacity 0.3
    .details
      padding 20px 0 20px 20px
      display flex
      flex-direction column
      justify-content space-around
      z-index 1
      flex: 1;
      max-width: 80%;
      .name
        font-size calc(1.5vw + 18px)
      .summary
        font-size calc(0.5vw + 12px)
        margin-right 10px
      .playRandom
        width 25%
        margin-top 2%
        min-width 215px
  .albums
    display flex
    flex-wrap wrap
    .albumDisplayContainer
      margin 20px