[Unit]
Description=Ampache SSDP daemon service
Requires=
After=

[Service]
User=www-data
Type=exec
TimeoutSec=10
PIDFile=/run/ampache_ssdp.pid
WorkingDirectory=/var/www/ampache/public/upnp
ExecStart=/usr/bin/php -f /var/www/ampache/public/upnp/ssdp.php > /dev/null 2>/dev/null
ExecStop=/bin/kill -HUP $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60s
# If you don't want to make tons of logs you can set it null if you sent a file or some other options it will send all php output to this one.
StandardOutput=null
StandardError=file:/var/log/ampache/ssdp_error.log

[Install]
WantedBy=default.target
