@import "color.styl"
@import "sizes.styl"
@import "typography.styl"

.container
  // display flex
  // min-height "calc(100% - %s)" % headerHeight
  position relative
  display flex
  flex 1
  flex-direction: row
  overflow: hidden

  & > .content
    // display: none
    flex 1
    padding: 1rem
    position relative

    @media all and (min-width: toggleDesktop) {
      padding: 2rem
    } 

    .contentInner
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto; 
      padding: inherit
