colorWhite  = #FFFFFF
colorBlack  = #000000

colorAmber50  = #FFFBEB
colorAmber100 = #FEF3C7
colorAmber200 = #FDE68A
colorAmber300 = #FCD34D
colorAmber400 = #FBBF24
colorAmber500 = #F59E0B
colorAmber600 = #D97706
colorAmber700 = #B45309
colorAmber800 = #92400E
colorAmber900 = #78350F

colorGray50  = #FAFAFA
colorGray100 = #F4F4F5
colorGray200 = #E4E4E7
colorGray300 = #D4D4D8
colorGray400 = #A1A1AA
colorGray500 = #71717A
colorGray600 = #52525B
colorGray700 = #3F3F46
colorGray800 = #27272A
colorGray900 = #18181B

linkHoverColor = colorAmber500
currentlyPlayingColor = #44ff00