colorWhite  = #FFFFFF
colorBlack  = #000000

colorLightBlue50  = #F0F9FF
colorLightBlue100 = #E0F2FE
colorLightBlue200 = #BAE6FD
colorLightBlue300 = #7DD3FC
colorLightBlue400 = #38BDF8
colorLightBlue500 = #0EA5E9
colorLightBlue600 = #0284C7
colorLightBlue700 = #0369A1
colorLightBlue800 = #075985
colorLightBlue900 = #0C4A6E

colorLime50  = #F7FEE7
colorLime100 = #ECFCCB
colorLime200 = #D9F99D
colorLime300 = #BEF264
colorLime400 = #A3E635
colorLime500 = #84CC16
colorLime600 = #65A30D
colorLime700 = #4D7C0F
colorLime800 = #3F6212
colorLime900 = #365314

colorAmber50  = #FFFBEB
colorAmber100 = #FEF3C7
colorAmber200 = #FDE68A
colorAmber300 = #FCD34D
colorAmber400 = #FBBF24
colorAmber500 = #F59E0B
colorAmber600 = #D97706
colorAmber700 = #B45309
colorAmber800 = #92400E
colorAmber900 = #78350F

colorRed50  = #FEF2F2
colorRed100 = #FEE2E2
colorRed200 = #FECACA
colorRed300 = #FCA5A5
colorRed400 = #F87171
colorRed500 = #EF4444
colorRed600 = #DC2626
colorRed700 = #B91C1C
colorRed800 = #991B1B
colorRed900 = #7F1D1D

colorGray50  = #FAFAFA
colorGray100 = #F4F4F5
colorGray200 = #E4E4E7
colorGray300 = #D4D4D8
colorGray400 = #A1A1AA
colorGray500 = #71717A
colorGray600 = #52525B
colorGray700 = #3F3F46
colorGray800 = #27272A
colorGray900 = #18181B

linkHoverColor = colorAmber500
currentlyPlayingColor = #44ff00