:global
    @import "reset"

    // Settings
    @import './settings/color'
    @import './settings/sizes'
    @import './settings/typography'

    //Elements
    @import './elements/fonts'
    @import './elements/html'
    @import './elements/icons'
    @import './elements/cards'
    @import './elements/lists'
    @import './elements/now-playing'

    //Components
    @import './components/ContextMenu'
    @import './components/React-Async-Popup'
    @import './components/Toastify'

    .paddedPage
        padding 1rem

        @media all and (min-width: size-large) {
            padding 2rem
        }
