@import "~stylus/color.styl"

body 
  color: colorGray300
  font-family 'Noto Sans', system-ui, Helvetica, Arial, sans-serif
  font-size 12px
  font-weight 400
  line-height: 1.4

h1, h2, h3, h4, h5, h6 
  color colorAmber500
  font-family 'Rajdhani', system-ui, Helvetica, Arial, sans-serif
  font-size 14px
  font-weight 700
  text-transform uppercase 
  letter-spacing 0.05em 