.loginPage
    display flex
    flex-direction column
    align-items center

    img
        width 256px

    form
        display flex
        flex-direction column
        width 90%
        max-width 500px
        margin-top 50px

        input, button
            background-color #363636
            color white
            border none
            padding 10px
            margin-bottom 15px

        button
            transition 0.2s background-color

            &:hover
                background-color linkHoverColor
                color black