name: unittest

on:
  push:
    branches: [ develop, edge ]
  pull_request:
    branches: [ develop, edge ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest']
        php: ['8.2', '8.3']
    continue-on-error: ${{ matrix.php == '8.3' }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        if: ${{ matrix.php != '8.3' }}
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: composer update --no-interaction --no-progress

      - name: Install Dependencies (ignore platform)
        if: ${{ matrix.php == '8.3' }}
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: composer update --no-interaction --no-progress --ignore-platform-req=php

      - name: Run test suite
        run: composer run-script tests
        env:
          PHP_CS_FIXER_IGNORE_ENV: 1
