@import "~stylus/sizes.styl"

.queueBar
  width sidebarWidth
  background-color #1a1a1a
  font-size 18px
  user-select none
  z-index 100
  titleHeight = 44px
  position sticky
  top 0
  height "calc(100vh - %s - %s)" % (headerHeight musicPlayerHeight)
  @media all and (max-width: 600px)
    height "calc(100vh - %s)" % (musicPlayerHeight)
    position fixed
    top 0
    right 0
  &.visible
    @media all and (max-width: 600px)
      //width 100% !important
      .title, .songs
        width 100%
  .title
    text-align center
    font-size 24px
    height titleHeight
    box-sizing border-box
    padding 10px 0
    white-space nowrap
    overflow hidden
  .songs
    height: "calc(100% - %s)" % (titleHeight)
    overflow-y scroll
    position sticky
    top 0
    display flex
    flex-direction column
    white-space nowrap
    .emptyQueue
      margin auto
