@import "~stylus/color.styl"
@import "~stylus/sizes.styl"

queuebarWidth = 280px

.queueBar
  width: queuebarWidth
  max-width: 90%;
  border-left 2px solid colorGray900
  background-color colorGray800
  user-select none
  titleHeight = 44px
  flex-shrink: 0;
  will-change: transform
  
  position: absolute
  top 0;
  right 0
  bottom: 0
  z-index: 100

  @media all and (min-width: toggleDesktop)
    position: static;
    margin-left: -(queuebarWidth)

  &.visible
    @media all and (min-width: toggleDesktop)
      margin-left: 0

  .title
    text-align center
    padding 10px 0
    white-space nowrap
    overflow hidden
    transition opacity 0.1s
    opacity 1
    border-bottom: 2px solid colorAmber500
  .songs
    height: "calc(100% - %s)" % (titleHeight)
    padding-right: 1rem
    white-space nowrap
    .emptyQueue
      margin auto
      transition opacity 0.1s
      opacity 1
  &:not(.visible)
    .title, .emptyQueue
      opacity 0

.queueBarInner
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: inherit