@import "~stylus/sizes.styl"

.queueBar
  max-width: queueBarWidth; //For desktop we only want the Queue Bar to get so big
  transition .2s max-width //Max width transition so it only hits the mobile media query
  background-color #1a1a1a
  font-size 18px
  user-select none
  z-index 100
  titleHeight = 44px
  position sticky
  top 0
  height "calc(100vh - %s - %s)" % (headerHeight musicPlayerHeight)
  @media all and (max-width: 600px)
    height "calc(100vh - %s)" % (musicPlayerHeight)
    position fixed
    top 0
    right 0
  &.visible
    @media all and (max-width: 600px)
      max-width 100% //Full screen on mobile, 100% instead of unset for transition to work
  .title
    text-align center
    font-size 24px
    height titleHeight
    box-sizing border-box
    padding 10px 0
    white-space nowrap
    overflow hidden
    transition opacity 0.1s
    opacity 1
  .songs
    height: "calc(100% - %s)" % (titleHeight)
    overflow-y scroll
    overflow-x hidden
    position sticky
    top 0
    display flex
    flex-direction column
    white-space nowrap
    .emptyQueue
      margin auto
      transition opacity 0.1s
      opacity 1
  &:not(.visible)
    .title, .emptyQueue
      opacity 0